<div class="row">
	<div class="container-fluid vehicle-bar">
		<div class="row">
			<div class="container vehicle-bar-wrapper">
				<div class="row">
					<div class="col-xs-6 col-sm-2 col-sm-5ths-bak vehicle-item">
						<div class="vehicle-item-wrapper">
							<a href="http://isuzu.net.my/home/suv/mux">
								<img src="http://isuzu.net.my/home/public_assets/resizer/image.php?width=200&height=200&cropratio=200x200&image=http://isuzu.net.my/home/public_assets/uploads/truck/5563f055dd040.png" />
								<h3>MU-X</h3>
							</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-2 col-sm-5ths-bak vehicle-item">
						<div class="vehicle-item-wrapper">
							<a href="http://isuzu.net.my/diablo/">
								<img src="public_assets/img/home/menuthumb-diablo.png" />
								<h3>D-MAX DIABLO</h3>
							</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-2  vehicle-item">
						<div class="vehicle-item-wrapper">
							<a href="/home/pick-up/d-max-safari">
								<img src="public_assets/img/home/menuthumb-vcrosssafari.png" />
								<h3>D-MAX SAFARI</h3>
							</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-2  vehicle-item">
						<div class="vehicle-item-wrapper">
							<a href="/home/pick-up/d-max-vcross">
								<img src="public_assets/img/home/menuthumb-dcvcross.png" />
								<h3>D-MAX <br>V-CROSS</h3>
							</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-2  vehicle-item">
						<div class="vehicle-item-wrapper">
							<a href="/home/pick-up/d-max-double-cab">
								<img src="public_assets/img/home/menuthumb-dc.png" />
								<h3>D-MAX 2.5L</h3>
							</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-2  vehicle-item">
						<div class="vehicle-item-wrapper">
							<a href="/home/pick-up/d-max-single-cab">
								<img src="public_assets/img/home/menuthumb-sc.png" />
								<h3>D-MAX SINGLE CAB</h3>
							</a>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid shortcut-tools">
		<div class="row">
			<div class="container shortcut-tools-wrapper">
				<div class="row">
					<div class="col-xs-12 col-sm-4 shortcut-tool compare-vehicle">
						<div class="shortcut-tool-wrapper shortcut-tool-img1">
							<a href="/home/tools#compare">
								<div class="col-xs-5 col-sm-12">
									<img src="public_assets/img/home/icon-compare-vehicles.png" />
								</div>
								<div class="col-xs-7 col-sm-12">
									<h2>COMPARE OUR VEHICLES</h2>
								</div>
								<div class="btn-cta">></div>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 shortcut-tool browse-accessories">
						<div class="shortcut-tool-wrapper shortcut-tool-img2">
							<a href="/home/accessories">
								<div class="col-xs-5 col-sm-12">
									<img src="public_assets/img/home/icon-browse-accessories.png" />
								</div>
								<div class="col-xs-7 col-sm-12">
									<h2>BROWSE OUR ACCESSORIES</h2>
								</div>
								<div class="btn-cta">></div>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 shortcut-tool find-dealer">
						<div class="shortcut-tool-wrapper shortcut-tool-img3">
							<a href="/home/dealer">
								<div class="col-xs-5 col-sm-12">
									<img src="public_assets/img/home/icon-find-dealer.png" />
								</div>
								<div class="col-xs-7 col-sm-12">
									<h2>FIND A DEALER</h2>
								</div>
								<div class="btn-cta">></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>