<div class="row">
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>ABOUT US</span>
		</h1>
		<div class="section-description">Our mission is to be a leader in transportation, commercial vehicles and diesel engines, while supporting our customers and respecting the environment.</div>
	</div>
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0 content-wrapper">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3 content">
				<div class="row" data-dojo-attach-point="listContainerNode"></div>
			</div>
		</div>
	</div>
</div>