<div class="row">
	<div class="hidden-xs deco sketch-car">
		<img src="public_assets/img/about/sketch.png">
	</div>
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>CAREERS</span>
		</h1>
	</div>
	<div class="hidden-xs col-xs-12 col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-xs-12 col-md-6 section-description">Isuzu Malaysia Sdn. Bhd. is one of the leading automotive players engaged in the business of importation, assembly and distribution of ISUZU commercial and non-commercial motor vehicles, components and parts in Malaysia. As such, we are on track for rapid growth and we are seeking highly qualified individuals who possess endless energy, motivation and drive as well as an uncompromising desire to excel, to be part of our dynamic workforce in the Isuzu Malaysia Sdn. Bhd. team.</div>
			<div class="col-xs-12 col-md-6 section-description">We operate in a challenging performance driven environment where employees are provided with genuine career growth opportunities and rewarded for their contributions. An attractive remuneration package will commensurate for suitable candidates.</div>
		</div>
	</div>
	<div class="col-xs-12 content-wrapper">
		<div class="row list-header">
			<div class="col-xs-12 col-md-5">Vacancies</div>
			<div class="hidden-xs hidden-sm col-md-3 text-center">Division</div>
			<div class="hidden-xs hidden-sm col-md-3 text-center">Location</div>
			<div class="hidden-xs hidden-sm col-md-1"></div>
		</div>
		<div class="row list-content">
			<div class="panel-group job-list" data-dojo-attach-point="listContainerNode" role="tablist" aria-multiselectable="true"></div>
		</div>
		<div class="row how-apply">
			<div class="row-same-height">
				<div class="col-xs-12 col-sm-3 col-md-3">
					<div class="how-apply-box head">
						<div>
							<h1>HOW</h1>
							<h3>TO APPLY</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="how-apply-box font16">
						<div>
							Interested applicants are invited to mail or email us a detailed resume that includes:
							<ul>
								<li>- qualifications & exprience.</li>
								<li>- current & expected salary</li>
								<li>- recent passport-sized photograph</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-5">
					<div class="how-apply-box">
						<div>
							<strong>Human Resource Department</strong><br />
							ISUZU Malaysia Sdn. Bhd.<br />
							501D, Level 5, Tower D, Uptown 5,<br />
							No. 5, Jalan SS21/39, Damansara Uptown,<br />
							47400, Petaling Jaya,<br />
							Selangor Darul Ehsan, <br />
							Email: <a href="mailto:career@isuzu.net.my">career@isuzu.net.my</a><br />
							<br />
							Only shortlisted candidates will be notified.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>