<div class="row">
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>CONTACT US</span>
		</h1>
		<div class="section-description">Here's how you can get in touch with us.</div>
	</div>
	<div class="col-xs-12 content-wrapper">
		<div class="row">
			<form class="" role="form" data-dojo-attach-point="contactFormNode">
				<div class="col-sm-8 contact-form">
					<div class="contact-form-wrapper">
						<div class="row">
							<div class="col-xs-12">
								<h3>EMAIL US</h3>
								<p>Please leave us a message with this form below, and we will get back to you as soon as we can.</p>
							</div>
							<div class="col-xs-12">
								<div class="form-group ">
									<div class="row">
										<div class="col-xs-12">
											<h4>DO YOU OWN AN ISUZU VEHICLE?</h4>
										</div>
										<div class="col-xs-12">
											<input type="radio" name="ownone" value="yes" class="marginright10" data-dojo-attach-point="cb_yesdoyouownisuzuNode"> <span>YES</span>
											<input type="radio" name="ownone" value="no" class="marginright10" data-dojo-attach-point="cb_nodoyouownisuzuNode" checked=""> <span>NO</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 registration-input" style="display:none" data-dojo-attach-point="ownModelContainerNode">
								<div class="form-group has-feedback">
									<h4>WHICH MODEL?</h4>
									<select data-dojo-attach-point="own_modelNode" class="form-control" name="e_own_model" id="e_own_model">
										<option value="-" >Please select</option>
									</select>
									<span class="glyphicon form-control-feedback" id="e_own_model1"></span>
								</div>
							</div>
							<div class="col-xs-12 registration-input">
								<div class="form-group has-feedback">
									<h4>YOUR NAME</h4>
									<input type="text" class="form-control" data-dojo-attach-point="fullnameNode" name="e_fullname" id="e_fullname"/>
									<span class="glyphicon form-control-feedback" id="e_fullname1"></span>
								</div>
							</div>
							<div class="col-xs-12 col-md-6 registration-input">
								<div class="form-group has-feedback">
									<h4>YOUR EMAIL</h4>
									<input type="text"  class="form-control" data-dojo-attach-point="emailNode" name="e_email" id="e_email"/>
									<span class="glyphicon form-control-feedback" id="e_email1"></span>
								</div>
							</div>
							<div class="col-xs-12 col-md-6 registration-input">
								<div class="form-group has-feedback">
									<h4>YOUR PHONE NUMBER</h4>
									<input type="text"  class="form-control" data-dojo-attach-point="phoneNode" name="e_phone" id="e_phone"/>
									<span class="glyphicon form-control-feedback" id="e_phone1"></span>
								</div>
							</div>
							<div class="col-xs-12 registration-input">
								<div class="form-group has-feedback">
									<h4>YOUR ENQUIRY</h4>
									<textarea  class="form-control" data-dojo-attach-point="enquiryNode" name="e_enquiry" id="e_enquiry"></textarea>
									<span class="glyphicon form-control-feedback" id="e_enquiry1"></span>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="form-group">
									<div class="row">
										<div class="col-xs-12">
											<h4>CHANNEL PREFERENCE</h4>
										</div>
										<div class="col-xs-12">
											<input type="radio" name="channel" value="email" class="marginright10" data-dojo-attach-point="cb_emailchannelpreferenceNode" checked=""> <span>EMAIL</span>
											<input type="radio" name="channel" value="phone" class="marginright10" data-dojo-attach-point="cb_phonechannelpreferenceNode"> <span>BY PHONE</span>
										</div>
									</div>
								</div>
							</div>
							<!-- <div class="col-xs-12">
								<div class="form-group">
									<div class="row">
										<div class="col-xs-12">
											<h4>WOULD YOU LIKE TO SUBSCRIBE TO OUR NEWSLETTER?</h4>
										</div>
										<div class="col-xs-12">
											<input type="radio" name="news" value="yes" class="marginright10" data-dojo-attach-point="cb_yesournewsletterNode" checked=""> <span>YES</span>
											<input type="radio" name="news" value="no" class="marginright10" data-dojo-attach-point="cb_noournewsletterNode"> <span>NO</span>
										</div>
									</div>
								</div>
							</div> -->
							<div class="col-xs-12 registration-input">
								<div class="form-group">
									<div class="checkbox">
									    <label>
									    	<input type="checkbox" name="tnc" data-dojo-attach-point="cb_tncNode"> By clicking on the Send button below, I hereby agree to the Terms &amp; Conditions.
									    </label>
									 </div>
								 </div>
							</div>
							<div class="col-xs-12 xs-center">
								<button class="btn-primary marginright10" type="submit">SEND</button>
								<button class="btn-primary marginright10" type="reset">RESET</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 contact-info">
					<div class="contact-column">
						<h2>HOTLINE</h2>
						<h4><a href="tel:+1300881133">1300-88-1133</a> <span class="text-fairgrey">or</span><br /> <a href="+60377239777">+603-7723 9777</a></h4>
						Monday to Friday, 8.30AM - 6.00PM<br />(Closed for Weekend and Public Holidays)
					</div>
					<div class="contact-column">
						<div>
							<h3>GET 24-HOUR SUPPORT</h3>
							<h4><a href="tel:+1800888000">1-800-88-8000</a></h4>
							<strong>ISUZU DOCTOR MOBILE</strong><br />
							24-Hour assistance<br />
							Reliable support for round-the-clock business operation.
						</div>
					</div>
					<div class="contact-column">
						<div>
							<h3>VISIT US</h3>
							Isuzu Malaysia Sdn. Bhd. (664946-H)<br />
							Address: <br />
							501D, Level 5, Tower D, Uptown 5,<br />
							No. 5, Jalan SS21/39, Damansara Uptown,<br />
							47400 Petaling Jaya, Selangor Darul Ehsan.<br />
							Phone: <a href="tel:+0377239777">+603-7723 9777</a><br />
							Fax: 03-7723 9779
						</div>
					</div>
					<div class="contact-column">
						<div>
							<h3>GET SPARE PARTS</h3>
							ISUZU Parts Centre<br />
							Address:<br />
							P.O. Box 34,<br />
							Lot 3, Jalan Perusahaan 2,<br />
							Kawasan Perindustrian Batu Caves,<br />
							68100 Batu Caves,<br />
							Selangor Darul Ehsan.
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>