<div class="row">
	<div class="hidden-xs deco red-car">
		<img src="public_assets/img/about/redcar.png">
	</div>
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>HISTORY</span>
		</h1>
	</div>
	<div class="col-sm-12 content-wrapper">
		<div class="row">
			<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 content">
				<div class="row" data-dojo-attach-point="listContainerNode"></div>
			</div>
		</div>
	</div>
</div>