<div class="row">
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>MEDIA</span>
		</h1>
		<div class="section-description">Isuzu on the news.</div>
	</div>
	<div class="col-xs-12 content-wrapper">
		<div class="row">
			<div class="col-sm-6 col-md-4 content withtext">
				<h3>NEWS & EVENTS</h3>
				<div data-dojo-attach-point="newsEventNode"></div>
				<hr class="visible-xs">
			</div>
			<div class="col-sm-6 col-md-4 content withtext">
				<h3>PRESS RELEASE</h3>
				<div data-dojo-attach-point="pressNode"></div>
				<hr class="visible-xs">
			</div>
			<div class="col-sm-12 col-md-4 content">
				<h3>GALLERY</h3>
				<div data-dojo-attach-point="galleryNode"></div>
				<h4 data-dojo-attach-point="galleryTitleNode"></h4>
			</div>
		</div>
	</div>
</div>