<div class="row">
	<div class="col-xs-12 col-md-6 col-lg-7 ceo-img">
		<img src="public_assets/img/about/newceo.jpg">
		<div class="ceo-detail hidden-xs hidden-sm">
			<h5>KENJI MATSUOKA</h5>
			<h5>松岡 賢次</h5>
		</div>
	</div>
	<div class="clearfix visible-sm"></div>
	<div class="col-xs-12 col-md-6 col-lg-5 content-wrapper">
		<h1 class="bigass-title">
			<span>MESSAGE <br />FROM CEO</span>
		</h1>
		<div class="carousel-message" data-dojo-attach-point="listContainerNode"></div>
	</div>
</div>