<div class="truck-spec-price-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="btn-section-tab active" data-dojo-attach-point="specTriggerNode">SPECIFICATIONS</div>
			</div>
			<div class="col-xs-6">
				<div class="btn-section-tab" data-dojo-attach-point="priceTriggerNode">PRICE</div>
			</div>
		</div>
		<div class="row detail-table" data-dojo-attach-point="specContainerNode">
			<div class="col-xs-5 col-sm-4 col-md-3 rightpad0">
				<div class="field-header truck-model empty">
					<div class="truck-name">&nbsp;</div>
				</div>
				<div data-dojo-attach-point="summaryContainerNode">
					<div class="field-header blank-header">
						<div class="header-features">Summary Features</div>
					</div>
					<div class="field-header">
						<div class="ts-trans">
							<strong>Transmission Type</strong>
						</div>
					</div>
					<div class="field-header">
						<div class="ts-engine_model">
							<strong>Engine Model</strong>
						</div>
					</div>
					<div class="field-header">
						<div class="ts-engine_type">
							<strong>Engine Type</strong>
						</div>
					</div>
					<div class="field-header">
						<div class="ts-max_output">
							<strong>Maximum Output</strong>
						</div>
					</div>
					<div class="field-header">
						<div class="ts-max_torque">
							<strong>Maximum Torque</strong>
						</div>
					</div>
					<div class="field-header">
						<div class="ts-tyre">
							<strong>Tyres</strong>
						</div>
					</div>
					<div class="field-header">
						<div class="ts-wheels">
							<strong>Wheels</strong>
						</div>
					</div>
				</div>
				<div data-dojo-attach-point="expandContainerNode" style="display:none">
					<div class="field-header blank-header">
						<div class="header-engine">Engine</div>
					</div>
					<div class="field-header">
						<div class="sp-engine_model">Model</div>
					</div>
					<div class="field-header">	
						<div class="sp-engine_type">Type</div>
					</div>
					<div class="field-header">
						<div class="sp-displacement">Displacement (CC)</div>
					</div>
					<div class="field-header">
						<div class="sp-bore">Bore x Stroke (mm)</div>
					</div>
					<div class="field-header">
						<div class="sp-compress_ratio">Compression Ratio</div>
					</div>
					<div class="field-header">
						<div class="sp-max_output">Maximum Output</div>
					</div>
					<div class="field-header">
						<div class="sp-max_torque">Maximum Torque</div>
					</div>
					<div class="field-header">
						<div class="sp-fuel_system">Fuel System</div>
					</div>
					
					<div class="field-header blank-header">
						<div class="header-transmission">Transmission</div>
					</div>
					<div class="field-header">
						<div class="sp-trans_type">Type</div>
					</div>
					<div class="field-header">
						<div class="row">
							<div class="col-xs-12 sp-trans_gear_1">
								<div class="row">
									<div class="col-xs-6">Gear Ratio</div>
									<div class="col-xs-6">1st</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field-header">
						<div class="row">
							<div class="col-xs-12 sp-trans_gear_2">
								<div class="row">
									<div class="col-xs-6">&nbsp;</div>
									<div class="col-xs-6">2nd</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field-header">
						<div class="row">
							<div class="col-xs-12 sp-trans_gear_3">
								<div class="row">
									<div class="col-xs-6">&nbsp;</div>
									<div class="col-xs-6">3rd</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field-header">
						<div class="row">
							<div class="col-xs-12 sp-trans_gear_4">
								<div class="row">
									<div class="col-xs-6">&nbsp;</div>
									<div class="col-xs-6">4th</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field-header">
						<div class="row">
							<div class="col-xs-12 sp-trans_gear_5">
								<div class="row">
									<div class="col-xs-6">&nbsp;</div>
									<div class="col-xs-6">5th</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field-header">
						<div class="row">
							<div class="col-xs-12 sp-trans_gear_reverse">
								<div class="row">
									<div class="col-xs-6">&nbsp;</div>
									<div class="col-xs-6">Reverse</div>
								</div>
							</div>
						</div>
					</div>
					<div class="field-header">
						<div class="row">
							<div class="col-xs-12 sp-trans_gear_final">
								<div class="row">
									<div class="col-xs-6">&nbsp;</div>
									<div class="col-xs-6">Final</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="field-header blank-header">
						<div class="header-suspension_brake">Suspension & Brake</div>
					</div>
					<div class="field-header">
						<div class="sp-sus_front">Suspension (Front)</div>
					</div>
					<div class="field-header">
						<div class="sp-sus_rear">Suspension (Rear)</div>
					</div>
					<div class="field-header">
						<div class="sp-shock">Shock Absorber</div>
					</div>
					<div class="field-header">
						<div class="sp-brake_front">Brake (Front)</div>
					</div>
					<div class="field-header">
						<div class="sp-brake_rear">Brake (Rear)</div>
					</div>
					
					<div class="field-header blank-header">
						<div class="header-steering">Steering</div>
					</div>
					<div class="field-header">
						<div class="sp-steering_system">System</div>
					</div>
					<div class="field-header">
						<div class="sp-min_turning_radius">Min. Turning Radius (m)</div>
					</div>
					
					<div class="field-header blank-header">
						<div class="header-tyres_wheels">Tyres & Wheels</div>
					</div>
					<div class="field-header">
						<div class="sp-tyres">Tyres</div>
					</div>
					<div class="field-header">
						<div class="sp-wheels">Wheels</div>
					</div>
					
					<div class="field-header blank-header">
						<div class="header-weight_capacities">Capacities</div>
					</div>
					<div class="field-header hidden">
						<div class="sp-weight" data-dojo-attach-point="weightNode">Gross Vehicle Weight (kg)</div>
					</div>
					<div class="field-header">
						<div class="sp-seating" data-dojo-attach-point="seatingNode">Seating Capacity (person)</div>
					</div>
					<div class="field-header">
						<div class="sp-fuel" data-dojo-attach-point="fuelNode">Fuel Tank Capacity (l)</div>
					</div>
					
					<div class="field-header blank-header">
						<div class="header-exterior_features">Exterior Features</div>
					</div>
					<div class="field-header">
						<div class="sp-headlamp">Headlamps</div>
					</div>
					<div class="field-header">
						<div class="sp-front_fog_lamp">Front Fog Lamps</div>
					</div>
					<div class="field-header">
						<div class="sp-engine_hood_garnish">Engine Hood Garnish</div>
					</div>
					<div class="field-header">
						<div class="sp-front_grille">Front Grille</div>
					</div>
					<div class="field-header">
						<div class="sp-door_outer_mirror">Door Outer Mirror</div>
					</div>
					<div class="field-header">
						<div class="sp-door_tail_handle">Door Handles</div>
					</div>
					<div class="field-header">
						<div class="sp-door_tail_handle">Tailgate Handles</div>
					</div>
					<div class="field-header">
						<div class="sp-front_bumper_guard">Front Bumper Guard</div>
					</div>
					<div class="field-header">
						<div class="sp-side_body_cladding">Side Body Cladding</div>
					</div>
					<div class="field-header">
						<div class="sp-side_step">Side Step</div>
					</div>
					<div class="field-header">
						<div class="sp-roof_rail">Roof Rail</div>
					</div>
					<div class="field-header">
						<div class="sp-cargo_cover">Cargo Cover</div>
					</div>
					<div class="field-header">
						<div class="sp-bed_liner">Bed Liner</div>
					</div>
					<div class="field-header">
						<div class="sp-rear_comb_lamp">Rear Combination Lamps</div>
					</div>
					<div class="field-header">
						<div class="sp-rear_bumper">Rear Bumper</div>
					</div>
					<div class="field-header">
						<div class="sp-rear_spoiler">Rear Spoiler</div>
					</div>
					<div class="field-header">
						<div class="sp-tailgate_garnish">Tailgate Garnish</div>
					</div>
					<div class="field-header">
						<div class="sp-muffler_cutter">Muffler Cutter</div>
					</div>
					
					<div class="field-header blank-header">
						<div class="header-interior_features">Interior Features</div>
					</div>
					<div class="field-header">
						<div class="sp-meter_panel">Meter Panel</div>
					</div>
					<div class="field-header">
						<div class="sp-steering_material">Steering Material</div>
					</div>
					<div class="field-header">
						<div class="sp-dash_door_trim">Dash Door Trim</div>
					</div>
					<div class="field-header">
						<div class="sp-climate_control">Climate Control</div>
					</div>
					<div class="field-header">
						<div class="sp-climate_control_rear">Climate Control (Rear)</div>
					</div>
					<div class="field-header">
						<div class="sp-audio_system">Audio System</div>
					</div>
					
					<div class="field-header">
						<div class="sp-rear_dvd">Rear DVD System</div>
					</div>
					
					<div class="field-header">
						<div class="sp-command4wd">Terrain Command 4WD System</div>
					</div>
					
					<div class="field-header">
						<div class="sp-assist_grip">Assist Grip</div>
					</div>
					<div class="field-header">
						<div class="sp-power_door_lock">Power Door Lock</div>
					</div>
					<div class="field-header">
						<div class="sp-seats_material">Seats Material</div>
					</div>
					
					<div class="field-header">
						<div class="sp-front_seats">Front Seats</div>
					</div>
					
					<div class="field-header">
						<div class="sp-2row_seats">2nd Row Seats</div>
					</div>
					
					<div class="field-header">
						<div class="sp-3row_seats">3rd Row Seats</div>
					</div>
					
					<div class="field-header">
						<div class="sp-door_window">Door Window</div>
					</div>
					<div class="field-header">
						<div class="sp-middle_console_box">Middle Console Box</div>
					</div>
					<div class="field-header">
						<div class="sp-map_lamp">Map Lamp</div>
					</div>
					<div class="field-header">
						<div class="sp-cabin_lamp">Cabin Lamp</div>
					</div>
					<div class="field-header">
						<div class="sp-ash_tray">Ash Tray</div>
					</div>
					<div class="field-header">
						<div class="sp-power_outlet">Power Outlet</div>
					</div>
					<div class="field-header">
						<div class="sp-rocker_plate">Rocker Plate</div>
					</div>
					<div class="field-header">
						<div class="sp-cigarette_lighter">Cigarette Lighter</div>
					</div>
					
					<div class="field-header">
						<div class="sp-cargo_organizer">Cargo Organizer</div>
					</div>
					
					<div class="field-header">
						<div class="sp-tonne_cover">Tonneau Cover</div>
					</div>
					
					<div class="field-header">
						<div class="sp-carpet_mat">Carpet Mat</div>
					</div>
					
					<div class="field-header blank-header">
						<div class="header-safety">Safety</div>
					</div>
					<div class="field-header">
						<div class="sp-srs">SRS Airbags</div>
					</div>
					<div class="field-header">
						<div class="sp-abs_ebd">ABS with EBD</div>
					</div>
					<div class="field-header">
						<div class="sp-brake_assist">Brake Assist (BA)</div>
					</div>
					<div class="field-header">
						<div class="sp-esc">Electronic Stability Control</div>
					</div>
					<div class="field-header">
						<div class="sp-tcs">Traction Control System</div>
					</div>
					<div class="field-header">
						<div class="sp-lspv">Load Sending Proportional Vale (LSPV)</div>
					</div>
					<div class="field-header">
						<div class="sp-lsd">Limited Slip Differential (LSD)</div>
					</div>
					<div class="field-header">
						<div class="sp-body_construction">Body Construction</div>
					</div>
					<div class="field-header">
						<div class="sp-side_door_impact_beams">Side Door Impact Beams</div>
					</div>
					<div class="field-header">
						<div class="sp-collapsibile_steering">Collapsible Steering Column</div>
					</div>
					<div class="field-header">
						<div class="sp-windscreen">Windscreen</div>
					</div>
					<div class="field-header">
						<div class="sp-wiper">Wiper</div>
					</div>
					
					<div class="field-header">
						<div class="sp-wiper_rear">Wiper (Rear)</div>
					</div>
					
					<div class="field-header">
						<div class="sp-seat_belt">Seat Belts</div>
					</div>
					<div class="field-header">
						<div class="sp-child_seat_anchorage">Child Seat Anchorage</div>
					</div>
					<div class="field-header">
						<div class="sp-security">Vehicle Security System</div>
					</div>
					<div class="field-header">
						<div class="sp-child_safety_lock">Child Protector Safefy Lock</div>
					</div>
					<div class="field-header">
						<div class="sp-high_mount_stop_lamp">High Mount Stop Lamp</div>
					</div>
					<div class="field-header">
						<div class="sp-reverse_sensor">Reverse Sensor</div>
					</div>
				</div>
			</div>
			<div class="col-xs-7 col-sm-8 col-md-9 leftpad0">
				<div class="field-data-wrapper spec">
					<div class="field-data-container">
						<div class="row">
							<div class="owl-carousel owl-theme" data-dojo-attach-point="listContainerNode"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-lg-offset-3 col-lg-9 cta-buttons-wrapper">
				<div class="row">
					<div class="col-xs-12 col-md-8 col-lg-7">
						<div class="btn-primary" data-dojo-attach-point="viewFullNode">VIEW FULL VERSION</div>
						<div class="btn-primary" data-dojo-attach-point="compareNode">COMPARE VEHICLE</div>
					</div>
					<div class="col-xs-12 col-md-4 col-lg-5">
						<div class="btn-primary" data-dojo-attach-point="downloadNode"><i class="fa fa-file"></i>DOWNLOAD BROCHURE</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row detail-table" data-dojo-attach-point="priceContainerNode" style="display:none">
			<div class="col-xs-12 price-filter-wrapper">
				<div class="row">
					<div class="col-xs-12 col-sm-6 region-select">
						<select data-dojo-attach-point="regionNode">
							<option value="Peninsular">Peninsular</option>
							<option value="Sabah">Sabah</option>
							<option value="Sarawak">Sarawak</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-6 variant-select">
						<select data-dojo-attach-point="variantNode"></select>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-5 col-sm-4 rightpad0">
						<div class="field-header truck-model empty">
							<div class="truck-name">&nbsp;</div>
						</div>
						<div class="field-header blank-header">
							<div class="header-selling_price">RECOMMENDED SELLING PRICE</div>
						</div>
						<div class="field-header">
							<div class="ps-handling_fee">Handling Fee</div>
						</div>
						<div class="field-header">
							<div class="ps-number_plate">Number Plate</div>
						</div>
						<div class="field-header">
							<div class="ps-signwriting">Signwriting</div>
						</div>
						<div class="field-header">
							<div class="ps-inspection_fee">Inspection Fee</div>
						</div>
						<div class="field-header">
							<div class="ps-netsellingbeforegst">Net Selling Price before GST</div>
						</div>
						<div class="field-header">
							<div class="ps-netsellingbeforegst">GST (6%)</div>
						</div>
						<div class="field-header">
							<div class="ps-netsellingbeforegst">Net Selling Price after GST</div>
						</div>
						<div class="field-header">
							<div class="ps-roadtax">1 Year Road Tax</div>
						</div>
						<div class="field-header">
							<div class="ps-registration_fee">Registration Fee</div>
						</div>
						<div class="field-header">
							<div class="ps-ownership_claim">HP Ownership Claim</div>
						</div>
						<div class="field-header">
							<div class="ps-otwwoin">RECOMMENDED ON-THE-ROAD PRICE WITHOUT INSURANCE (WITH GST)</div>
						</div>
						<div class="field-header">
							<div class="header-comprehensive_insurance">Comprehensive Insurance (With GST 6%)</div>
						</div>
						<div class="field-header">
							<div class="ps-otwwin">RECOMMENDED ON-THE-ROAD PRICE WITH INSURANCE (WITH GST 6%)</div>
						</div>
						<div class="field-header">
							<div class="header-insured_amount">Insured Amount</div>
						</div>
					</div>
					<div class="col-xs-7 col-sm-8 leftpad0">
						<div class="field-data-wrapper price">
							<div class="field-data-container">
								<div class="row">
									<div class="owl-carousel owl-theme" data-dojo-attach-point="listPriceContainerNode"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-lg-offset-3 col-lg-9 cta-buttons-wrapper">
						<div class="row">
							<div class="hidden-xs hidden-sm col-md-8 col-lg-7"></div>
							<div class="col-xs-12 col-md-4 col-lg-5">
								<div class="btn-primary" data-dojo-attach-point="download01Node"><i class="fa fa-file"></i>DOWNLOAD BROCHURE</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>