<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 schedule-top-date">
				<div data-dojo-attach-point="dateContainerNode"></div>
				<div class="row">
					<div class="col-xs-2 bgc-green schedule-top-hour">
						<div class="pl20">TIME</div>
					</div>
					<div class="col-xs-9 noscroll bgc-green schedule-top-hour">
						<div data-dojo-attach-point="hourContainerNode"></div>
					</div>
					<div class="col-xs-1">
						<div class="row">
							<span class="btn-hypp btn-dark center col-xs-6 glyphicon glyphicon-chevron-left" data-dojo-attach-point="hourLeftNode"></span>
							<span class="btn-hypp btn-dark center col-xs-6 glyphicon glyphicon-chevron-right" data-dojo-attach-point="hourRightNode"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row schedule-wrap">
			<div class="col-xs-2 schedule noscroll" data-dojo-attach-point="channelListScrollContainerNode">
				<div class="relative" data-dojo-attach-point="channelListContainerNode"></div>
			</div>
			<div class="col-xs-10 schedule" data-dojo-attach-point="scheduleContainerNode">
				<div class="row" data-dojo-attach-point="listContainerNode"></div>
			</div>
		</div>
	</div>
</div>