<div class="row">
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>BOOK A TEST DRIVE</span>
		</h1>
		<div class="section-description">Ready to experience an Isuzu vehicle for yourself? Fill this form to get started.</div>
	</div>
	<div class="col-xs-12 form-wrapper test-drive">
		<div class="row">
			<form class="form test-drive" role="form" data-dojo-attach-point="bookFormNode">
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
					  <label for="date">WHEN WOULD YOU LIKE TO DROP BY?</label>
					  <input type="text" class="form-control" name="date" data-date-format="yyyy-mm-dd" data-dojo-attach-point="dateNode">
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
					  <label for="model">WHICH MODEL WOULD YOU LIKE TO TEST DRIVE?</label>
					  <select class="form-control" name="model" data-dojo-attach-point="modelNode">
					  	<option value="">PLEASE SELECT</option>
					  </select>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="form-group">
						<label for="name">YOUR NAME</label>
					    <input type="text" class="form-control" name="name" data-dojo-attach-point="nameNode">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="email">YOUR EMAIL</label>
					    <input type="email" class="form-control" name="email" data-dojo-attach-point="emailNode">
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<label for="phone">YOUR PHONE NUMBER</label>
					    <input type="text" class="form-control" name="phone" data-dojo-attach-point="phoneNode">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="checkbox">
					    <label>
					    	<input type="checkbox" name="agree" data-dojo-attach-point="agreeNode"> By clicking on the Send button below, I hereby agree to the Terms &amp; Conditions.
					    </label>
					 </div>
				</div>
				<div class="col-xs-12">
					<div class="g-recaptcha-wrapper">
						<div class="g-recaptcha" data-dojo-attach-point="captchaNode" data-sitekey="6Le7igETAAAAABosH8mEAL880nDNlTZ5UbyDGxhe"></div>
					</div>
				</div>
				<div class="col-xs-12 text-center">
					<button class="btn-primary" type="submit">SUBMIT</button>
					<button class="btn-primary" type="reset">RESET</button>
				</div>	
			</form>
		</div>
	</div>
</div>