<div class="row">
	<div class="col-xs-12 col-md-3 section-title">
		<h1 class="bigass-title">
			<span>LOAN CALCULATOR</span>
		</h1>
		<div class="section-description">Calculate your estimated loans for your next Isuzu.</div>
		<div class="result-calculation">
			<span>RM</span><span data-dojo-attach-point="loanPaymentMonthlyNode">0</span> <span>monthly</span>
		</div>
		<div class="hidden-xs hidden-sm deco">
			<img data-dojo-attach-point="calculatorImageNode" src="" alt="">
		</div>
	</div>
	<div class="col-xs-12 col-md-9 form-wrapper calculator">
		<div class="row">
			<form role="form" data-dojo-attach-point="loanCalculatorNode">
				<div class="col-xs-12 col-md-9 form calculator">
					<div class="row">
						<div class="col-xs-12">
							<div data-dojo-attach-point="monthlyAmountNode"></div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
							  <label for="model">1. VEHICLE'S MODEL<span class="required">*</span>:</label>
							  <select class="form-control" name="model" data-dojo-attach-point="modelNode">
							    <option value="">PLEASE SELECT</option>
							  </select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
							  <label for="ownership">2. OWNERSHIP TYPE<span class="required">*</span>:</label>
							  <select class="form-control" name="ownership" data-dojo-attach-point="ownershipNode">
							    <option value="Private">INDIVIDUAL PRIVATE</option>
							    <option value="Company Private">COMPANY PRIVATE</option>
							    <option value="Company Comm">COMPANY COMMERCIAL</option>
							  </select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
							  <label for="paint">3. PAINT OPTIONS<span class="required">*</span>:</label>
							  <select class="form-control" name="paint" data-dojo-attach-point="paintNode">
							  </select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
							  <label for="region">4. SELECT STATE<span class="required">*</span>:</label>
							  <select class="form-control" name="region" data-dojo-attach-point="regionNode">
							    <option value="Peninsular">PENINSULAR MALAYSIA</option>
							    <option value="Sabah">SABAH</option>
							    <option value="Sarawak">SARAWAK</option>
							  </select>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<label for="price">5. PRICE (RM):</label>
							    <input type="text" class="form-control" name="price" value="" data-dojo-attach-point="priceNode" readonly>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<label for="downpayment">6. DOWN PAYMENT (RM)<span class="required">*</span>:</label>
							    <input type="text" class="form-control" name="downpayment" data-dojo-attach-point="downpaymentNode">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<label for="interest">7. INTEREST RATE (%)<span class="required">*</span>:</label>
							    <input type="text" class="form-control" name="interest" data-dojo-attach-point="interestNode">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
							  <label for="period">8. LOAN PERIOD (YEARS):</label>
							  <select class="form-control" name="period" data-dojo-attach-point="periodNode">
							    <option>1</option>
							    <option>2</option>
							    <option>3</option>
							    <option>4</option>
							    <option>5</option>
							    <option>6</option>
							    <option>7</option>
							    <option>8</option>
							    <option>9</option>
							  </select>
							</div>
						</div>
						<div class="col-xs-12 form-reminder">
							<p><span class="required">*</span>You must fill in the required fields.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-3 form-btn">
					<button  class="btn-primary" data-dojo-attach-point="calculateNode">CALCULATE</button>
					<button class="btn-primary" type="reset">RESET</button>
				</div>
			</form>
		</div>
	</div>
</div>