<div>
	<div>
		<div class="pad0 col-xs-5 col-sm-3 col-lg-3" data-dojo-attach-point="specListNode"></div>
		<div class="pad0 col-xs-7 col-sm-9 col-lg-9">
			<div class="owl-carousel owl-theme" data-dojo-attach-point="listContainerNode">
				<div class="pad0 item" data-dojo-attach-point="column1Node"></div>
				<div class="pad0 item" data-dojo-attach-point="column2Node"></div>
				<div class="pad0 item" data-dojo-attach-point="column3Node"></div>
			</div>
		</div>
	</div>
</div>