<div class="row">
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>COMPARE VEHICLES</span>
		</h1>
		<div class="section-description">Select at least two to start comparing.</div>
	</div>
	<div class="compare-vehicle-wrapper">
		<div class="row">
			<div class="col-xs-12 deco">
				<img data-dojo-attach-point="decoImageNode" src="" alt="">
			</div>
			<div class="col-xs-12 compare-boxes">
				<div class="row">
					<div class="col-sm-4 col-xs-12 compare-box">
						<div class="compare-box-wrapper">
							<h4>MODEL</h4>
							<select data-dojo-attach-point="select1Node">
								<option value="">PLEASE SELECT</option>
							</select>
							<h4>VARIANT</h4>
							<select data-dojo-attach-point="selectV1Node" disabled="">
								<option value="">PLEASE SELECT</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 compare-box">
						<div class="compare-box-wrapper">
							<h4>MODEL</h4>
							<select data-dojo-attach-point="select2Node">
								<option value="">PLEASE SELECT</option>
							</select>
							<h4>VARIANT</h4>
							<select data-dojo-attach-point="selectV2Node" disabled="">
								<option value="">PLEASE SELECT</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 compare-box">
						<div class="compare-box-wrapper">
							<h4>MODEL</h4>
							<select data-dojo-attach-point="select3Node">
								<option value="">PLEASE SELECT</option>
							</select>
							<h4>VARIANT</h4>
							<select data-dojo-attach-point="selectV3Node" disabled="">
								<option value="">PLEASE SELECT</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 text-center">
						<div class="btn-primary" data-dojo-attach-point="compareNowNode">COMPARE NOW</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>