<div class="row">
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>CORPORATE FLEET <br class="visible-sm" /> SALES <br class="hidden-xs hidden-sm" /> ENQUIRIES</span>
		</h1>
		<div class="section-description">For more information on fleet deals, please contact:</div>
	</div>
	<div class="col-xs-12 corporate-enquiries-wrapper">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="corporate-enquiry">
					<h5>PM, Central, South</h5>
					<h4>MS. Jennifer</h4>
					<a href="tel:+60377239754">+603-7723 9754</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="corporate-enquiry">
					<h5>Northern, East Coast </h5>
					<h4>MR. Eddy</h4>
					<a href="tel:+60377239798">+603-7723 9798</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="corporate-enquiry">
					<h5>East Malaysia</h5>
					<h4>MR. Ng Kok Chin</h4>
					<a href="tel:+60377239781">+603-7723 9781</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 more-info">
		<div class="row">
			<div class="row-same-height">
				<div class="col-xs-12 col-sm-4 info-head">For more Information</div>
				<div class="col-xs-12 col-sm-8 info-content">
					<p>Please contact our Hotline at <a href="tel:+1300881133">1300-88-1133</a></p>
					<p>8.00am to 5.30pm, <br class="visible-xs" />Monday to Friday<br class="visible-xs" /> (excluding public holidays)</p>
				</div>
			</div>
		</div>
	</div>

 <!-- <div class="corporate-enquiries-wrapper">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 more-info">
		<div class="row">
			<div class="row-same-height">
				<div class="col-xs-12 col-sm-4 col-md-height info-head">For more Information</div>
				<div class="col-xs-12 col-sm-8 col-md-height info-content">
					<p>Please contact our Hotline at <span>1300-88-1133</span></p>
					<p>8.00am to 5.30pm, Monday to Friday (excluding public holidays)</p>
				</div>
			</div>
		</div>
	</div>
	</div> -->
</div>