<div class="row">
	<div class="col-xs-12 section-title">
		<h1 class="bigass-title">
			<span>PROMOTIONS</span>
		</h1>
		<div class="section-description">We always have a good deal for you.</div>
	</div>
	<div class="col-xs-12 content-wrapper" data-dojo-attach-point="owlCarouselNode"></div>
</div>