<div class="row">
	<div class="col-xs-10 col-xs-offset-1 dealer-state">
		<span>SELECT STATE</span>
		<select data-dojo-attach-point="regionNode">
			<option value="">All</option>
		</select>
	</div>
	<div class="col-xs-12 dealer-lists">
		<div class="row">
			<div data-dojo-attach-point="listContainerNode"></div>
		</div>
	</div>
</div>