<div>
	<div class="video-wrapper">
		<div class="" data-example-id="responsive-embed-16by9-iframe-youtube">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MhqYB1qlFSM" allowfullscreen=""></iframe>
			</div>
		</div>
		<!-- <iframe width="547" height="350" src="https://www.youtube.com/embed/MhqYB1qlFSM" frameborder="0" allowfullscreen></iframe> -->
	</div>
	<p>The first episode of V-Cross Adventure is now LIVE! Watch how all 6 teams go through technical training and physical challenge in a bid to get close to the RM20,000 cash! Bumpy river crossing and a dip in the mud pool is just the beginning...</p>
	<a href="https://www.youtube.com/user/IsuzuDmaxMalaysia" target="_blank">Check out our youtube channel</a>
</div>