<div>
	<ul class="list-year clearfix" data-dojo-attach-point="yearListNode"></ul>
	<div class="list-news">
		<h4>Latest News</h4>
		<div data-dojo-attach-point="listContainerNode"></div>
	</div>
</div>