<div class="row">
	<div class="col-xs-12 schedule-hour p0">
		<div class="schedule-hour-inner bgc-white black center">
			<div class="row">
					<div class="col-xs-12">
					<img class="w100" data-dojo-attach-point="imageNode" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" data-dojo-attach-point="labelNode"></div>
			</div>
		</div>
	</div>
</div>