<div class="w1_7th float-left center green pbt20 schedule-date-cell">
	<div data-dojo-attach-point="dayNode"></div>
	<div class="schedule-top-date-display" data-dojo-attach-point="dateNode"></div>
</div>