<div class="col-xs-24-1 schedule-hour schedule-column" data-active="false">
	<div class="schedule-hour-inner" data-dojo-attach-point="innerNode">
		<hr class="thin-line" style="display:none" data-dojo-attach-point="lineNode" />
		<div class="green pt20" data-dojo-attach-point="startTimeNode"></div>
		<div data-dojo-attach-point="labelNode"></div>

		<a class="btn-schedule-expand btn-schedule-expand-more" style="display:none" data-dojo-attach-point="showMoreNode">
			Expand for more shows <span class="glyphicon glyphicon-menu-down"></span>
		</a>
	</div>
	<div class="relative more-shows fullheight-from-children" style="display:none; z-index:20;" data-dojo-attach-point="additionalContainerNode">
	</div>
	<a class="relative schedule-hour-close-up btn-schedule-expand btn-schedule-expand-close" data-dojo-attach-point="showLessNode">
		Hide <span class="glyphicon glyphicon-menu-up"></span>
	</a>
</div>