<div class="modal modal-fullscreen modal-map fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dojo-attach-point="closeNode"><span aria-hidden="true">&times;</span></button>
				<div class="map-canvas" data-dojo-attach-point="mapNode" style="height:500px"></div>
				<div data-dojo-attach-point="dummyNode"></div>
			</div>
		</div>
	</div>
</div>