<div class="modal fade cmc-modal">
  <div class="modal-dialog fullscreen iframe" style="margin:150px auto;">
    <div class="modal-content dialog">
    	<button type="button" class="close" data-dojo-attach-point="closeNode" style="position:absolute">
			Close
		</button>
		<div class="modal-body fullscreen iframe">
			<iframe data-dojo-attach-point="videoNode" width="100%" height="540" src="" frameborder="0" allowfullscreen=""></iframe>
		</div>
    </div>
  </div>
</div>