<div class="modal bs-example-modal-lg fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" data-dojo-attach-point="closeNode"><span aria-hidden="true">&times;</span></button>
			<div class="modal-body">
				<div class="modal-body" style="max-height: 771px;" data-dojo-attach-point="bodyNode"></div>
			</div>
		</div>
	</div>
</div>