<div class="modal fade type-text">
  <div class="modal-dialog">
    <div class="modal-content dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        
        <div class="modal-body" style="max-height: 880px;">
			<div class="row">
				<div class="col-sm-12">
					<h2 data-dojo-attach-point="titleNode">Careline</h2>
					<p class="view-content" data-dojo-attach-point="desNode">
						Thank you for your enquiry. We will be in touch with you shortly.
					</p>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>