<div>
	<div class="w90 float-left">
		<div class="col-xs-1" data-dojo-attach-point="previousNode">
			<span class="btn-schedule-date center glyphicon glyphicon-chevron-left"></span>
		</div>
		<div class="col-xs-10" data-dojo-attach-point="listNode"></div>
		<div class="col-xs-1" data-dojo-attach-point="nextNode">
			<span class="btn-schedule-date center glyphicon glyphicon-chevron-right"></span>
		</div>
	</div>
	<div class="w10 float-left center">
		<span class="btn-schedule-date glyphicon glyphicon-calendar" data-dojo-attach-point="datepickerNode"></span>
	</div>
</div>