<div class="panel panel-default">
	<div class="panel-heading" data-dojo-attach-point="panelHeadingNode" role="tab" id="">
		<h4 class="panel-title">
			<a class="collapsed"  data-dojo-attach-point="collapseToggleNode" data-toggle="collapse" data-parent="" href="" aria-expanded="false" aria-controls="">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-md-5 job-title" data-dojo-attach-point="titleNode"></div>
					<div class="col-sm-5 col-md-3 job-division" data-dojo-attach-point="divisionNode"></div>
					<div class="col-sm-5 col-md-3 job-location" data-dojo-attach-point="locationNode"></div>
					<div class="col-sm-2 col-md-1 btn-panelnav"><i></i></div>
				</div>
			</a>
		</h4>
	</div>
	<div data-dojo-attach-point="collapsePanelNode" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
		<div class="panel-body">
			<div class="col-xs-12 panel-content">
				<div class="row" data-dojo-attach-point="panelBodyNode"></div>
			</div>
		</div>
	</div>
</div>