@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Khand-Light';
    src: url('../fonts/khand-light-webfont.eot');
    src: url('../fonts/khand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/khand-light-webfont.woff2') format('woff2'),
         url('../fonts/khand-light-webfont.woff') format('woff'),
         url('../fonts/khand-light-webfont.ttf') format('truetype'),
         url('../fonts/khand-light-webfont.svg#khandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Khand-Regular';
    src: url('../fonts/khand-regular-webfont.eot');
    src: url('../fonts/khand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/khand-regular-webfont.woff2') format('woff2'),
         url('../fonts/khand-regular-webfont.woff') format('woff'),
         url('../fonts/khand-regular-webfont.ttf') format('truetype'),
         url('../fonts/khand-regular-webfont.svg#khandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Khand-SemiBold';
    src: url('../fonts/khand-semibold-webfont.eot');
    src: url('../fonts/khand-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/khand-semibold-webfont.woff2') format('woff2'),
         url('../fonts/khand-semibold-webfont.woff') format('woff'),
         url('../fonts/khand-semibold-webfont.ttf') format('truetype'),
         url('../fonts/khand-semibold-webfont.svg#khandsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Khand-Medium';
    src: url('../fonts/khand-medium-webfont.eot');
    src: url('../fonts/khand-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/khand-medium-webfont.woff2') format('woff2'),
         url('../fonts/khand-medium-webfont.woff') format('woff'),
         url('../fonts/khand-medium-webfont.ttf') format('truetype'),
         url('../fonts/khand-medium-webfont.svg#khandmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.w100{
	width: 100%;
}

.w10{
	width: 10%;
}

.w20 {
	width: 20%;
}

.w90{
	width: 90%;
}

.w70 {
	width: 70%;
}

.w60 {
	width: 60%;
}

.w50 {
	width: 50%;
}

.p0{
	padding: 0px !important;
}

.p1{
	padding: 1px;
}

.p20{
	padding: 20px;
}

.plr5{
	padding: 0px 5px;
}

.m0{
	margin: 0px !important;
}

.mt10{
	margin-top: 10px;
}

.mt20{
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}

.ml20{
	margin-left: 20px;
}

.pb20{
	padding-bottom: 20px;
}

.pbt20{
	padding: 20px 0px;
}

.pt20{
	padding-top: 20px !important;
}

.pl20{
	padding-left: 20px;
}

.pr20{
	padding-right: 20px;
}

.pl10{
	padding-left: 10px;
}

.pr10{
	padding-right: 10px;
}

.w1_7th{
	width: 14.2857%;
}

.bl1{
	border-left: 1px solid black;
}

.w100{
	width: 100%;
}

.float-left{
	float: left;
}

.container-schedule{
	width: 6000px;
}

.col-xs-24-1{
	position: relative;
	min-height: 1px;
	padding: 0px;
	margin: 0px;
	float: left;
	width: 4%;
}


@media (min-width:992px) {
	.col-md-5-1 {
		width: 20%;
	}
}

.scroll{
	overflow: scroll;
}

.fullheight-from-children{
	overflow: auto;
}

.more-shows {
	display: block !important;
    height: 0;
    overflow: hidden;

    -webkit-transition: none;
    transition: none;
}

.more-shows.in {
	height: 320px;

	-webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
}

.schedule{
	height: 800px;
	overflow: scroll;
	overflow-x: hidden;
	font-family: 'Lato-Bold';
}

.btn-hypp{
	cursor: pointer;
	padding: 15px 5px;
	margin: -2px 0px;
}

.btn-schedule-date{
	padding: 30px 10px;
	font-size: 30px;
	cursor: pointer;
}

.btn-dark{
	background: #151E23;
}

.btn-show-detail-contaier{
	height: 520px;
	padding: 0px !important;
}

.btn-show-detail{
	background: #1E2A36;
	color: white;
	width: 80%;
	height: 100%;
	padding: 278px 0px;
}

#schedule-container {
	padding-bottom: 40px;
}

.schedule-hour{
	height: 160px;
	padding: 2px;
}

.thin-line{
	height: 2px;
	margin: 0px;
}

.schedule-hour.active{
	background: #485C67;
}

.schedule-hour-inner{
	background: #253038;
	height: 100%;
	padding: 0px 20px 0px 20px;
	position: relative;

	-webkit-transition: all 0.6s; /* Safari */
    transition: all 0.6s;
}

.schedule-hour .btn-schedule-expand {
	color: #313F48;
	font-family: 'Lato-Bold';
	width: 100%;
	background-color: #5FC1C3;
	padding: 10px 30px;
}

.schedule-hour .btn-schedule-expand.btn-schedule-expand-more {
	position: absolute;
	left: 0;
	bottom: 0;
}

.schedule-hour .btn-schedule-expand > .glyphicon {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -7px;
}

.schedule-hour-inner.active{
	background: #485C67;
}

.schedule-date-cell.active{
	background-color: #5FC1C3;
	color: #1E2A36;
}

.schedule-top-hour{
	padding: 10px 0px;
}

.schedule-top-date{
  background: #253038;
  position: relative;
  font-family: 'Lato-Bold';
  /*padding: 20px 15px 0px;*/
}

.schedule-top-date-display{
	font-size: 24px;
}

.schedule-hour-close-up{
  display: none;
  margin: -40px 0px;
  background: #5FC1C3;
  z-index: 30;
  padding: 10px;
}

@media (min-width: 768px) { 
	.container-schedule{
		width: 6000px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container-schedule{
		width: 7760px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container-schedule{
		width: 9360px;
	}
}

body {
	color: #fff;
	font-family: 'Lato-Regular';
	font-size: 12px;
	background-color: #151E23;
	overflow-x: hidden;
}

h1 {
	color: #5FC1C3;
	font-family: 'Khand-Light';
	font-size: 4.642857em;
	margin: 0 0 30px;
}

h3 {
	color: #008795;
	font-family: 'Khand-Light';
	font-size: 2.5em;
	margin: 0 0 20px;
}

h4 {
	color: #151E23;
	font-family: 'Khand-Light';
	font-size: 2.5em;
	margin: 0 0 20px;
}

h5 {
	font-family: 'Lato-Bold';
	font-size: 1.142857em;
}

p {
	margin-bottom: 20px;
}

input::-webkit-input-placeholder {
   color: #fff !important;
}

input:-moz-placeholder { /* Firefox 18- */
   color: #fff !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important;
}

input:-ms-input-placeholder {  
   color: #fff !important;
}

.subscribe-container input::-webkit-input-placeholder {
	color: #999 !important;
}

.subscribe-container input:-moz-placeholder {
	color: #999 !important;
}

.subscribe-container input::-moz-placeholder {
	color: #999 !important;
}

.subscribe-container input:-ms-input-placeholder {
	color: #999 !important;
}

strong {
	font-family: 'Lato-Bold';
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

select.form-control {
	-webkit-appearance: none;
}

.color-hypptv {
	color: #008795;
}

.color-hypptv-everywhere {
	color: #0580E8;
}

.color-hypptv-biz {
	color: #FFBE05;
}

.valign-wrap {
	display: table;
	width: 100%;
	height: 100%;
}

.valign-middle {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.position-relative {
	position: relative;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.container-fluid > .row {
	margin-left: 0;
	margin-right: 0;
}

.img-fullwidth {
	width: 100%;
}

.form-group {
	color: #151E23;
}

.form-group label {
	color: #151E23;
}

.form-group label a {
	color: #151E23;
	text-decoration: underline;
}

.form-control {
	color: #1E2A36;
	font-size: 1.142857em;
	height: auto;
	background-color: transparent;
	border-color: #1E2A36;
	border-radius: 0;
	padding: 20px;
}

.btn {
	color: #1E2A36;
	font-family: 'Khand-Light';
	font-size: 1.2857em;
	line-height: 1;
	border-radius: 0;
	padding: 10px 20px;
}

.btn-orange {
	color: #fff;
	font-size: 20px;
	background-color: #FF7B00;
	padding: 15px 50px;
	position: relative;
}

.btn-transparent-box {
	background-color: transparent;
	border: 1px solid #1E2A36;
	padding: 17px;
}

.btn.btn-black {
	color: #fff;
	font-family: 'Khand-Regular';
	background-color: #000;
}

.btn.btn-hypp-form {
	width: 100%;
	background-color: transparent;
	border: 1px solid #1E2A36;
	padding: 20px;
}

.btn.btn-hypp-form.btn-submit {
	color: #fff;
	background-color: #151E23;
}

.color-biz {
	color: #FFBE05 !important;
}

.color-everywhere {
	color: #0580E8 !important;
}

.color-black {
	color: #151E23 !important;
}

@media (min-width:768px) {
	body {
		font-size: 14px;
	}
}

#nav {
	font-size: 1.42857em;
	background: url('../PublishingImages/header_bg.png') 0 0 repeat-x #151E23;
	background-size: auto 85px;
	height: 115px;
}

#nav, #nav a {
	color: #fff;
}

#nav .navbar-toggle .icon-bar {
	background-color: #fff;
}

#nav .navbar-toggle {
	margin-top: 25.5px;
	margin-bottom: 25.5px;
}

#nav .navbar-header > a.nav-subscribe {
	display: block;
	line-height: 20px;
	margin: 22.5px 0;
	margin-right: 5px;
	padding: 10px;
}

#nav .navbar-header > a.nav-subscribe > img {
	vertical-align: top;
}

.page-home #nav {
	width: 100%;
	height: 85px;
	background: url('../PublishingImages/header-bg-transparent.png') 0 0 repeat-x transparent;
	background-size: auto 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.page-home .breadcrumb {
	display: none;
}

#nav .navbar-brand {
	height: auto;
	padding: 15px 0 15px 5px;
}

#nav .navbar-collapse-main {
	background-color: rgba(0, 0, 0, 0.75);
}

#nav .nav li a {
	font-family: 'Khand-Light';
	line-height: 20px;
	margin: 12.5px 0;
	padding-left: 10px;
	padding-right: 10px;
}

#nav .nav li a.active {
	font-family: 'Khand-SemiBold';
}

#nav .nav li.dropdown a {
	position: relative;
}

#nav .nav li a:hover, #nav .nav li a:focus, #nav .nav li a:active, #nav .nav li.open > a {
	background-image: none;
	background-color: transparent;
}

#nav .navbar-nav > li > .dropdown-menu {
	font-family: 'Khand-Regular';
	font-size: 16px;
	min-width: 230px;
	background-color: #485C67;
	border: 0;
	padding: 20px;
}

#nav .navbar-nav > li > .dropdown-menu li a:hover {
	text-decoration: underline;
}

#nav .navbar-nav > li > a > .arrow {
	display: none;
	background: url('../PublishingImages/nav-dropdown-arrow.png');
	width: 22px;
	height: 11px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -13px;
}

#nav .nav li a.nav-subscribe {
	background-color: rgba(72,92,103,0.55);
	height: 75px;
	margin: 0 0 0 15px;
	padding: 27.5px 20px;
}

#nav .nav li a.nav-subscribe img {
	display: inline-block;
	margin: -2px 0 0;
	padding: 0 0 0 7px;
	vertical-align: top;
}

#nav .nav li a.nav-search img {
	display: block;
	margin: -1px 0 0;
}

#nav .breadcrumb {
	font-family: 'Lato-Regular';
	font-size: 12px;
	line-height: 14px;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 7px 0;
}

#nav .breadcrumb > li + li::before {
    padding: 0px 5px;
    color: #fff;
    content: ">";
}

#nav .breadcrumb > .active {
	color: #fff;
}

#nav .nav li.dropdown:hover > ul.dropdown-menu, #nav ul.nav li:hover > a > .arrow {
    display: block;
}

.toolbar-right {
	position: absolute;
	right: 0;
	top: 115px;
}

.page-home .toolbar-right {
	top: 85px;
}

.toolbar-right.ontop {
	position: fixed !important;
	top: 75px !important;
}

.page-home .toolbar-right.ontop {
	top: 0px !important;
}

.toolbar-right ul {
	margin: 0;
	padding: 0;
}

.toolbar-right ul li {
	list-style-type: none;
}

.toolbar-right ul li.tool-subscribe {
	position: relative;
}

.toolbar-right ul li.tool-subscribe > a:first-child {
	display: block;
	position: relative;
	width: 45px;
	height: 45px;
	overflow: hidden;
}

.toolbar-right ul li.tool-subscribe > a > img {
	position: absolute;
	right: -60px;
	top: 0;
	z-index: 2;

	-webkit-transition: right 0.6s; /* Safari */
    transition: right 0.6s;
}

.toolbar-right.ontop ul li.tool-subscribe > a > img {
	right: 0;
}

.toolbar-right ul li.tool-subscribe span {
	color: #fff;
	font-size: 1.2857em;
	line-height: 25px;
	text-align: center;
	display: block;
	width: 190px;
	height: 45px;
	background-color: #485C67;
	padding: 10px 0;
	position: absolute;
	right: -190px;
	top: 0;

	-webkit-transition: right 0.6s; /* Safari */
    transition: right 0.6s;
}

.toolbar-right ul li.tool-subscribe:hover span {
	right: 45px;
}

@media (min-width:480px) {
	#nav .navbar-header > a.nav-subscribe {
		margin-right: 30px;
	}

	#nav .navbar-brand {
		padding-left: 5px;
	}
}

@media (min-width:768px) {
	#nav {
		background-size: auto 75px;
		height: 105px;
	}

	.page-home #nav {
		height: 75px;
	}

	#nav .navbar-brand {
		padding: 10px 0;
	}

	#nav .navbar-collapse-main {
		background-color: transparent;
	}

	.page-home .toolbar-right {
		top: 75px;
	}

	.toolbar-right {
		top: 105px;
	}
}

#supercarousel-container .owl-carousel {
	
}

#supercarousel-container .owl-item {
	position: relative;
}

#supercarousel-container .owl-item:before {
	content: ' ';
	display: block;
	padding-top: 110%;
}

@media (min-width: 768px) {
	#supercarousel-container .owl-item:before {
		padding-top: 53.333333%;
	}

	#supercarousel-container.subcarousel .owl-item:before {
		padding-top: 38.333333%;
	}
}

#supercarousel-container .owl-item .content-wrapper {
	width: 100%;
	height: 100%;
	position: absolute !important;
	left: 0;
	top: 0;
}

#supercarousel-container .owl-item .image-container {
	background-position: center top;
	background-size: auto 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute !important;
	left: 0;
	top: 0;
}

#supercarousel-container .owl-item .video-wrapper {
	position: relative;
}

#supercarousel-container .owl-item .video-wrapper:before {
	content: ' ';
	display: block;
	padding-top: 53.333333%;
}

#supercarousel-container .owl-item .video-wrapper > .video-player {
	background-size: auto 100% !important;
	width: 100%;
	height: 100%;
	position: absolute !important;
	left: 0;
	top: 0;
}

#supercarousel-container .owl-item .btn-transparent-box {
	color: #fff;
	font-family: 'Khand-Regular';
	width: 230px;
	border-color: #fff;
	margin: 0 15px;
	position: relative;
}

#supercarousel-container .owl-item .btn-transparent-box > span {
	position: relative;
}

#supercarousel-container .owl-item .btn-transparent-box:before {
	background-color: #0580E8;
	content: '';
	display: block;
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

	-webkit-transition: width 0.6s;
    transition: width 0.6s;
}

#supercarousel-container.hypptv .owl-item .btn-transparent-box:before {
	background-color: #009D93;
}

#supercarousel-container.hypptv-everywhere .owl-item .btn-transparent-box:before {
	background-color: #0580E8;
}

#supercarousel-container.hypptv-biz .owl-item .btn-transparent-box:before {
	background-color: #FFB505;
}

#supercarousel-container .owl-item .btn-transparent-box:hover:before {
	width: 100%;
}

#supercarousel-container .owl-item .cta-container {
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
}

#supercarousel-container .owl-theme .owl-controls {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 8px;
}

#supercarousel-container .owl-item .carousel-show-info {
	color: #fff;
	width: 100%;
	max-width: 440px;
	background-color: rgba(49,63,72,0.8);
	position: absolute;
	left: 0;
	bottom: 10%;
}

#supercarousel-container .owl-item .carousel-show-info .show-info-header {
	font-size: 2.857em;
	font-family: 'Khand-Regular';
	margin: 0;
	padding: 55px 25px 40px;
}

#supercarousel-container .owl-item .carousel-show-info table {
	width: 100%;
}

#supercarousel-container .owl-item .carousel-show-info table td {
	font-size: 1.142857em;
	text-align: center;
	border: 1px solid #fff;
	width: 50%;
	padding: 17px 20px;
	vertical-align: middle;
}

#supercarousel-container .owl-item .carousel-show-info table td:first-child {
	border-left: 0;
}

#supercarousel-container .owl-item .carousel-show-info table td:last-child {
	border-right: 0;
}

#supercarousel-container .owl-item .carousel-show-info strong {
	color: #5FC1C3;
	font-family: 'Lato-Bold';
	font-weight: normal;
}

#supercarousel-container .owl-item .carousel-show-info .show-info-footer > a {
	color: #fff;
	font-family: 'Khand-Regular';
	font-size: 1.57em;
	line-height: 26px;
	display: block;
	padding: 15px;
	padding-left: 25px;
}

@media (min-width:1200px) {
	#supercarousel-container .owl-item .carousel-show-info {
		max-width: 640px;
	}
}

#quicktab-container.dark {
	background-color: #313F48;
}

#quicktab-container .tab-item {
	display: block;
	color: #fff;
	font-size: 1.1em;
	text-align: center;
	background-color: #151E23;
	padding: 20px 0;
}

#quicktab-container .tab-item .tab-title {
	padding: 0 5px;
}

@media (min-width:768px) {
	#quicktab-container .tab-item {
		font-size: 1.42857em;
	}

	#quicktab-container .tab-item .tab-title {
		padding: 0 15px;
	}
}

#quicktab-container.dark .tab-item {
	background-color: #313F48;
	padding: 30px 0;
}

#quicktab-container.dark .tab-item.active, #quicktab-container.dark .tab-item:hover {
	background-color: #151E23;
	text-decoration: none;
}

#quicktab-container .tab-item.active, #quicktab-container .tab-item:hover {
	background-color: #009D93;
	text-decoration: none;
}

#quicktab-container .tab-item .tab-icon {
	background: center 0 no-repeat;
	padding: 0 0 37px;
}

#quicktab-container.dark .tab-item .tab-icon {
	position: relative;
}

#quicktab-container .tab-item.tab-hypptv .tab-icon {
	background-image: url('../PublishingImages/quicktab/hypptv.png');
}

#quicktab-container.dark .tab-item.tab-hypptv.active .tab-icon, #quicktab-container.dark .tab-item.tab-hypptv:hover .tab-icon {
	background-image: url('../PublishingImages/quicktab/hypptv-b.png');
}

#quicktab-container.dark .tab-item.active, #quicktab-container.dark .tab-item:hover {
	color: #008795 !important;
	background-color: #151E23 !important;
}

#quicktab-container.dark .tab-item.active .tab-icon, #quicktab-container.dark .tab-item:hover .tab-icon {
	background-color: transparent !important;
}

#quicktab-container .tab-item.tab-hypptv-everywhere .tab-icon {
	background-image: url('../PublishingImages/quicktab/hypptv-everywhere.png');
}

#quicktab-container .tab-item.tab-hypptv-everywhere.active, #quicktab-container .tab-item.tab-hypptv-everywhere:hover {
	background-color: #0580E8;
	color: #fff;
}

#quicktab-container.dark .tab-item.tab-hypptv-everywhere.active .tab-icon, #quicktab-container.dark .tab-item.tab-hypptv-everywhere:hover .tab-icon {
	background-image: url('../PublishingImages/quicktab/hypptv-everywhere-b.png');
}

#quicktab-container.dark .tab-item.tab-hypptv-everywhere.active, #quicktab-container.dark .tab-item.tab-hypptv-everywhere:hover {
	color: #0580E8 !important;
}

#quicktab-container .tab-item.tab-hypptv-biz .tab-icon {
	background-image: url('../PublishingImages/quicktab/hypptv-biz.png');
}

#quicktab-container .tab-item.tab-hypptv-biz.active, #quicktab-container .tab-item.tab-hypptv-biz:hover {
	background-color: #FFB505;
	color: #151E23;
}

#quicktab-container .tab-item.tab-hypptv-biz.active .tab-icon, #quicktab-container .tab-item.tab-hypptv-biz:hover .tab-icon {
	background-image: url('../PublishingImages/quicktab/hypptv-biz-d.png');
}

#quicktab-container.dark .tab-item.tab-hypptv-biz.active .tab-icon, #quicktab-container.dark .tab-item.tab-hypptv-biz:hover .tab-icon {
	background-image: url('../PublishingImages/quicktab/hypptv-biz-o.png');
}

#quicktab-container.dark .tab-item.tab-hypptv-biz.active, #quicktab-container.dark .tab-item.tab-hypptv-biz:hover {
	color: #FFBE05 !important;
}

#quicktab-container .tab-faq .tab-icon {
	background-image: url('../PublishingImages/help/tab-faq-ico.png');
}

#quicktab-container .tab-faq.active .tab-icon, #quicktab-container .tab-faq:hover .tab-icon {
	background-image: url('../PublishingImages/help/tab-faq-blue-ico.png');
}

#quicktab-container .tab-remote .tab-icon {
	background-image: url('../PublishingImages/help/tab-remote-ico.png');
}

#quicktab-container .tab-remote.active .tab-icon, #quicktab-container .tab-remote:hover .tab-icon {
	background-image: url('../PublishingImages/help/tab-remote-blue-ico.png');
}

#quicktab-container .tab-contactus .tab-icon {
	background-image: url('../PublishingImages/help/tab-contact-ico.png');
}

#quicktab-container .tab-contactus.active .tab-icon, #quicktab-container .tab-contactus:hover .tab-icon {
	background-image: url('../PublishingImages/help/tab-contact-blue-ico.png');
}

#quicktab-container .tab-item .tab-icon {
	margin: 0 0 15px;
}

#quicktab-container.ontop {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}

#quicktab-container.ontop .tab-item {
	z-index: 98;
}

#quicktab-container.ontop .tab-item .tab-title {
	display: none;
}

#footer {
	font-size: 12px;
	line-height: 12px;
}

#footer, #footer a {
	color: #313F48;
}

#footer .social-bar {
	background-color: #DCDDDE;
	padding: 20px 0 0;
}

#footer .copyright-bar {
	background-color: #fff;
	padding: 20px 0;
}

#footer .copyright {
	margin-top: 17px;
}

#footer ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

#footer ul li {
	display: block;
	line-height: 1;
	list-style-type: none;
	margin: 0 15px 0 0;
}

#footer ul li.social-link {
	display: inline-block;
}

#footer ul li.social-link > a {
	display: block;
	width: 33px;
	height: 33px;
	overflow: hidden;
}

#footer ul li.social-link > a:hover img {
	margin-top: -34px;
}

#footer ul li:last-child {
	margin-right: 0;
}

#footer .form-control {
	display: inline-block;
	width: 70%;
	margin: -4px 0;
	padding: 8.5px 20px;
	float: left;
}

#footer .btn-subscribe {
	display: inline-block;
	width: 30%;
	margin: -4px 0;
	padding: 11px 0;
	float: left;
	text-align: center;
}

#footer .label-newsletter {
	display: block;
	width: auto;
	line-height: 1;
	margin: 10.5px 0;
	padding-right: 10px;
}

#footer .subscribe-container {
	text-align: center;
	padding: 0 5%;
}

@media (min-width:992px) {
	#footer ul li {
		display: block;
		line-height: 33px;
		height: 33px;
		float: left;
	}

	#footer .subscribe-container {
		padding: 0;
	}

	#footer .label-newsletter {
		width: 15%;
		float: left;
	}

	#footer .btn-subscribe {
		width: 25%;
	}

	#footer .form-control {
		width: 60%;
	}
}

.search-container {
	display: none;
	width: 100%;
	height: 75px;
	background: url('../PublishingImages/search-bg.png') 0 0 repeat-y;
	background-size: 100% auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
}

#search-result-container .search-container {
	display: block;
	position: static;
}

#search-result-container h4 {
	color: #5FBABC;
	margin: 35px 0 30px;
}

#search-result-container .result-item {
	background-color: #1E2A36;
	margin: 0 0 20px;
	padding: 20px 25px;
}

.result-item .item-date {
	color: #5FBABC;
	margin: 0 0 10px;
}

.result-item .item-title {
	font-size: 1.4em;
	margin: 0 0 15px;
}

.result-item .item-excerpts {
	line-height: 1.4;
	margin: 0 0 15px;
}

.search-container.in {
	display: block;
}

.search-container .search-form > .container {
	position: relative;
	margin: 26px auto;
}

.search-container input[type="text"] {
	font-family: 'Khand-Regular';
	font-size: 20px;
	line-height: 23px;
	width: 100%;
	background: transparent;
	border: 0;
	padding: 0 27px 0 0;
}

.search-container a.btn-search {
	position: absolute;
	right: 0;
	top: 0;
}

.search-container .search-result {
	color: #fff;
	background-color: rgba(49,63,72,0.9);
	padding: 15px 0;
	transition: all 0.35 ease-out;
}

.search-container .search-result a {
	color: #fff;
}

.search-container .search-result h5 {
}

.bgc-db {
	background-color: #151E23;
}

.bgc-white{
	background: white;
}

.black{
	color: black;
}

.bgc-green{
	background: #50b6b7;
}

.green{
	color: #50b6b7;
}

.center{
	text-align: center;
}

.left{
	float: left;
}

.right{
	float: right;
}

.section {
	padding-top: 80px;
	padding-bottom: 50px;
}

.nav-tabs.nav-justified > li {
	display: table-cell;
	width: 1%;
}

.nav-tabs.nav-justified > li > a {
	color: #5FC1C3;
	font-family: 'Khand-SemiBold';
	font-size: 1.42857em;
	line-height: 20px;
	background-color: #313F48;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	padding: 23px 0;
}

.nav-tabs.nav-justified > li.active > a {
	color: #313F48;
	background-color: #5FC1C3;
	border: 0;
}

.nav-tabs.nav-justified > li.active > a:hover, .nav-tabs.nav-justified > li.active > a:focus {
	border: 0;
}

.tab-pane {
	color: #1E2A36;
	background-color: #5FC1C3;
	padding: 60px 0;
}

#frm-subscribe-upgrade td {	
	padding-right: 7px;
}

#frm-subscribe-upgrade td.last {
	padding-right: 0;
}

#frm-subscribe-upgrade td > div {
	font-family: 'Lato-Bold';
	background-color: #fff;
	padding-bottom: 15px;
}

#frm-subscribe-upgrade td > div.selected {
	border: 1px solid #151E23;
}

#frm-subscribe-upgrade .pack-jumbo {
	color: #F47A20;
}

#frm-subscribe-upgrade .pack-ruby {
	color: #6D6E71;
}

#frm-subscribe-upgrade .pack-sports {
	color: #00C0FF;
}

#frm-subscribe-upgrade .pack-aneka {
	color: #6D6E71;
}

#frm-subscribe-upgrade .pack-varnam {
	color: #6D6E71;
}

.benefits-list {
	width: 300px;
	margin: 30px auto 0;
}


.benefits-list > div {
	text-align: center;
	height: 272px;
	background-color: #1e2a36;
	border-right: 2px solid #151E23;
	border-bottom: 2px solid #151E23;
	padding: 30px 20px;
}

.benefits-list > div:last-child {
	border-right: 0;
}

.benefits-list > div > img {
	margin-bottom: 20px;
}

.benefits-list h5 {
	font-family: 'Khand-Medium';
	font-size: 1.21428571em;
	color: #008795;
}

@media (min-width:768px) {
	.benefits-list {
		width: auto;
	}
}

.line-type {
	padding: 50px 0;
}

#packages-container .packages-list .item {
	padding: 0 1px;
}

#packages-container .packages-list .item > a {
	display: block;
	background-color: #fff;
}

#packages-container .packages-list .package-item {
	width: 100%;
	height: auto;
}

#packages-container .packages-list .package-item a {
	display: block;
	background-color: #fff;
	padding: 30px 0;
}

#packages-container .packages-list .package-item h6 {
	color: #525252;
	font-size: 17px;
	margin: 0;
}

#packages-container .packages-list .package-item.active h6, #packages-container .packages-list .package-item:hover h6 {
	color: #FFBE05;
}

#packages-container .packages-list .package-item .package-icon {
	background-position: center center;
	background-size: 100% auto;
	background-repeat: none;
	width: 115px;
	height: 85px;
	margin: 0 auto 10px;
}

#packages-container .packages-list .package-item.package-fox .package-icon {
	background-image: url('../PublishingImages/packages/fox-package.png');
}

#packages-container .packages-list .package-item.package-fox.active .package-icon, #packages-container .packages-list .package-item.package-fox a:hover .package-icon {
	background-image: url('../PublishingImages/packages/fox-package-active.png');
}

#packages-container .packages-list .package-item.package-star-chinese .package-icon {
	background-image: url('../PublishingImages/packages/star-chinese-package.png');
}

#packages-container .packages-list .package-item.package-star-chinese.active .package-icon, #packages-container .packages-list .package-item.package-star-chinese a:hover .package-icon {
	background-image: url('../PublishingImages/packages/star-chinese-package.png');
}

#packages-container .packages-list .package-item.package-star-chinese.active h6, #packages-container .packages-list .package-item.package-star-chinese a:hover h6 {
	color: #BF1E41;
}

#packages-container .nav-tabs.nav-justified > li > a {
	color: #fff;
}

#packages-container .nav-tabs.nav-justified > li.active > a {
	color: #fff;
	font-family: 'khand-Medium';
	background-color: #008795;
}

.hypptv-biz #packages-container .nav-tabs.nav-justified > li.active > a {
	background-color: #FFBE05;
}

.hypptv-everywhere #packages-container .nav-tabs.nav-justified > li.active > a {
	background-color: #0580E8;
}

#packages-container .tab-pane {
	color: #fff;
	background-color: #008795;
}

#packages-container .tab-pane > p {
	padding-left: 40px;
	padding-right: 40px;
}

.hypptv-biz #packages-container .tab-pane {
	background-color: #FFBE05;
}

.hypptv-everywhere #packages-container .tab-pane {
	background-color: #0580E8;
}

.package-selected{
	position: absolute;
	bottom: 6px;
	color: orange;
	font-size: 20px;
	text-align: center;
	left: calc(50% - 10px);
	display: none;
}

#packages-container .packages-list {
	/*padding: 0 34px;*/
}

#packages-container .owl-controls {
	margin: 0 0 2px;
}

#packages-container .owl-controls .owl-buttons div {
	color: #000;
	width: 34px;
	height: 100%;
	border: 0;
	border-radius: 0;
	background-color: #000;
	margin: 0;
	opacity: 1;
	position: absolute;
	top: 0;
}

#packages-container .owl-controls .owl-buttons .owl-prev {
	left: -34px;
	left: 0;
}

#packages-container .owl-controls .owl-buttons .owl-prev:before {
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	content: '<';
	margin: -9px 0 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
}

#packages-container .owl-controls .owl-buttons .owl-next {
	right: -34px;
	right: 1px;
}

#packages-container .owl-controls .owl-buttons .owl-next:before {
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	content: '>';
	margin: -9px 0 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
}

#packages-container .owl-controls .owl-pagination {
	display: none;
}

#packages-container .tab-content-header {
	color: #EA8920;
	font-family: 'Khand-Regular';
	line-height: 1;
	background-color: #151E23;
	padding: 20px 35px;
}

#packages-container .tab-content-header .title {
	color: #fff;
	font-size: 35px;
	line-height: 60px;
	text-align: center;
}

#packages-container .tab-content-header .price-container {
	text-align: center;
}

#packages-container .tab-content-header .price {
	font-size: 45px;
}

#packages-container .tab-content-header .month {
	display: block;
	font-size: 20px;
	margin-top: -5px;
}

#packages-container .channel-category {
	background-color: #151E23;
	padding: 0 15px;
}

.panel-group .panel-hypptv {
	border: 0;
	border-radius: 0;
}

.panel-hypptv .panel-heading {
	background: #313F48;
	border-radius: 0;
}

.panel-hypptv h4.panel-title {
	color: #fff;
	font-size: 20px;
	font-family: 'Khand-SemiBold';
}

.panel-hypptv h4.panel-title a {
	display: block;
	position: relative;
}

.panel-hypptv h4.panel-title a:hover, .panel-hypptv h4.panel-title a:active, .panel-hypptv h4.panel-title a:focus {
	text-decoration: none;
}

.panel-hypptv h4.panel-title a.has-close:before {
	content: '+';
	font-family: 'Lato-Bold';
	font-size: 20px;
	margin-top: -10px;
	position: absolute;
	right: 0;
	top: 50%;
}

.panel-hypptv .panel-heading:focus, .panel-hypptv .panel-heading:active, .panel-hypptv .panel-heading:hover, .panel-hypptv .panel-heading.active {
	background-color: #EA8920;
}

.panel-hypptv.panel-faq .panel-heading:focus, .panel-hypptv.panel-faq .panel-heading:active, .panel-hypptv.panel-faq .panel-heading:hover, .panel-hypptv.panel-faq .panel-heading.active {
	background-color: #5FC1C3;
}

.panel-hypptv .panel-group {
	margin: 0;
}

.channel-category .panel-group {
	margin-bottom: 5px;
}

.channel-category .panel-body {
	background-color: #313F48;
	border-top: 0 !important;
	position: relative;
	padding: 30px;
}

.channel-category .panel-body > div {
	padding: 2px;
}

.channel-category .channel-item {
	background-color: #fff;
	position: relative;
}

.channel-category .channel-item > .item-image {
	position: relative;
}

.channel-category .channel-item > .item-image:before {
	content: '';
	display: block;
	padding-top: 55.28455%;
}

.channel-category .channel-item > .item-image > .image-container {
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.channel-category .channel-item > .item-label {
	color: #6B6C6E;
	font-size: 14px;
	line-height: 16px;
	height: 62px;
	top: auto;
	bottom: 12.5px;
	width: 100%;
	padding: 10px 10px 20px;
}

#packages-container ul.link-list {
	margin: 0;
	padding: 0;
}

#packages-container ul.link-list li {
	color: #fff;
	background-color: #313F48;
	text-align: center;
	list-style-type: none;
	margin: 0 0 5px;
	padding: 10px 0;
}

#packages-container em {
	display: block;
	margin: 10px 20px 30px;
}

#packages-container .howto-subscribe {
	background-color: #313F48;
	padding: 35px;
}

.btn-orange > .arrow-right {
	background: url('../PublishingImages/ico-button-right.png');
	width: 11px;
	height: 21px;
	margin-top: -10.5px;
	position: absolute;
	right: 15px;
	top: 50%;
}

.btn-tw{
	background: url('../PublishingImages/tw.png') 0 0 no-repeat;
	height: 45px;
}

.btn-fb{
	background: url('../PublishingImages/fb.png') 0 0 no-repeat;
	height: 45px;
}

.howto-subscribe .subscribe-ways {
	padding: 0 20px;
}

.subscribe-ways > .row > div {
	text-align: center;
	background-color: #fff;
	border-left: 1.5px solid #313F48;
	border-right: 1.5px solid #313F48;
	border-bottom: 3px solid #313F48;
	padding-top: 15px;
	padding-bottom: 15px;
}

.subscribe-ways h6 {
	color: #1E2A36;
	line-height: 1;
	margin-bottom: 0;
}

@media (min-width:768px) {
	.line-type {
		padding: 50px 0;
	}

	.tab-pane > p {
		padding-left: 0;
		padding-right: 0;
	}

	#packages-container .tab-content-header .price-container {
		text-align: right;
	}

	#packages-container .tab-content-header .title {
		text-align: left;
	}
}

#similar-container {
	padding-top: 30px;
}

#similar-container .movie-item {
	position: relative;
	padding: 0;
}

#similar-container .movie-item > a {
	display: block;
	position: relative;
}

#similar-container .movie-item:before {
	background: url('../PublishingImages/similar-show-shadow.png') 0 bottom repeat-x transparent;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#similar-container .movie-detail {
	position: absolute;
	left: 30px;
	bottom: 15px;
}

#similar-container .movie-detail h4 {
	color: #fff;
	font-size: 30px;
	margin: 0;
}

#similar-container .movie-detail a.btn-more {
	color: #5FC1C3;
	font-family: 'Khand-SemiBold';
	font-size: 17px;
}

#faq-container {
	border-bottom: 1px solid #fff;
	margin: 0 0 30px;
	padding: 0 0 20px;
}

.panel-faq .panel-body {
	background-color: #1E2A36;
}

.panel-heading.open {
	background-color: #EA8920;
	padding-left: 30px;
}

.panel-faq .panel-heading.open {
	padding-left: 15px;
}

#faq-container .panel-heading.open {
	background-color: #5FC1C3;
}

.panel-heading.open h4.panel-title a.has-close:before {
	content: 'x';
}

.wrapper.faq-catetory {
	padding: 40px 0;
}

select.form-control.dark.flat {
	color: #fff;
	background-color: #313F48;
	border: 0;
}

a.btn-more-faq {
	font-size: 16px;
}

#contactus-container {
	background-color: #151E23;
	padding: 40px 0 0;
}

#contactus-container h4 {
	color: #5FC1C3;
	margin: 0 0 40px;
}

.contactus-form-wrapper {
	background-color: #485C67;
	padding: 60px 0 35px;
}

.white-theme .form-control {
	color: #313F48;
	border: 0;
	background-color: #fff;
}

#frm-contactus #contact_message_fc {
	height: 142px;
}

#frm-contactus .btn {
	font-size: 18px;
	width: 230px;
	padding: 15px 0;
}

.btn-blue {
	color: #fff;
	background-color: #5FC1C3;
}

.btn-transparent-box.blue-box {
	color: #5FC1C3;
	border-color: #5FC1C3;
}

#contactus-container .separator {
	padding: 30px 0;
}

#contactus-container .separator .col-xs-5 {
	border-bottom: 1px solid #000000;
	padding: 17px 0 0;
	width: 45%;
}

#contactus-container .separator .col-xs-2 {
	font-family: 'Khand-Light';
	font-size: 35px;
	line-height: 1;
	text-align: center;
	width: 10%;
}

#contactus-container h6 {
	font-size: 20px;
	margin: 15px 0 20px;
}

#contactus-container em {
	font-style: italic;
	opacity: 0.6;
}

#remote-container {
	padding: 60px 0;
}

#remote-container h4 {
	color: #5FC1C3;
	margin: 0 0 40px;
}

.remote-button .button-detail {
	height: 96px;
	background-color: #1E2A36;
	margin: 0 0 5px;
	padding: 25px 40px;
}

.remote-button-list {
	height: 770px;
	overflow-x: hidden;
	overflow-y: auto;
}

.remote-image p {
	color: #5FC1C3;
	line-height: 1.3;
	text-align: center;
	max-width: 200px;
	margin: 0 auto 15px;
}

.remote-button .button-label {
	color: #5FC1C3;
}

#search-container {
	padding-top: 60px;
	padding-bottom: 40px;
}

#search-container .glyphicon {
	color: #fff;
	font-size: 25px;
}

#search-container .form-control {
	color: #fff;
	border-color: #fff;
}

#search-container .input-group-addon {
	background-color: transparent;
	border-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

#search-container .btn-submit {
	display: block;
	font-size: 20px;
	width: 100%;
	padding: 22px 0;
}

.input-search .form-control, .input-calendar .form-control {
	border-right: 0;
}

#search-container h4 {
	color: #5FC1C3;
}

#frm-search-show {
	display: block;
	margin: 0 0 40px;
}

#search-container ul.sort-options {
	margin: 0;
	padding: 0;
}

#search-container ul.sort-options li {
	list-style-type: none;
	float: right;
}

#search-container ul.sort-options li:before {
	padding: 0px 10px;
	color: #fff;
	content: " |";
}

#search-container ul.sort-options li.last:before {
	content: "  ";
}

#search-container ul.sort-options li > a {
	color: #fff;
}

#search-container ul.sort-options li > a:hover, #search-container ul.sort-options li.active > a {
	color: #5FC1C3;
}

#list-container {
	padding-bottom: 60px;
}

#list-container > .row {
	margin-left: -2.5px;
	margin-right: -2.5px;

	-webkit-transition: all 1.2s;
	transition: all 1.2s;
}

#list-container .show-item {
	margin-bottom: 10px;
	padding-left: 2.5px;
	padding-right: 2.5px;
	/*cursor: pointer;*/
}

.pointer{
	cursor: pointer;
}

#list-container .show-item .show-thumbnail {
	position: relative;
}

#list-container .show-item .show-thumbnail:after {
	background: url('../PublishingImages/icon-hypptv.png') center center no-repeat rgba(49,63,72,0.75);
	content: '';
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#list-container .show-item > a:hover .show-thumbnail:after {
	display: block;
}

#list-container .show-detail {
	color: #fff;
	font-family: 'Khand-Light';
	font-size: 1.42857em;
	background-color: #1E2A36;
	padding: 20px;
}

#list-container .show-detail .price {
	color: #5FC1C3;
	font-family: 'Lato-Regular';
	font-size: 0.7em;
}

#list-container .show-detail.expanded{
	
}

#show-container {
	padding-top: 50px;
}

.show-detail-container{
	background: #313F48;
	margin: 0 40px;
}

.show-detail-container-tiling{
	background: #313F48;
	margin: 0;
}

.show-detail-label-head {
	color: #5FBABC;
	line-height: 1;
	padding-right: 20px;
	margin: 0 0 5px;
}

.show-detail-channel{
	background: white;
	color: #151E23;
	height: 70px;
}

.show-detail-findout{
	background: #485C67;
}

.show-detail-container .btn-watch-now, .show-detail-container .btn-subscribe-now {
	font-size: 20px;
	margin: 21px 0 0;
	padding-top: 11px;
	padding-bottom: 11px;
}

#show-container .btn-showdetail-left, #show-container .btn-showdetail-right {
	background-color: #1E2A36;
	width: 34px;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

#show-container .btn-showdetail-left {
	left: 0;
}

#show-container .btn-showdetail-right {
	right: 0;
}

.show-detail-findout {
	font-size: 18px;
}

.show-detail-findout img {
	margin: 0 20px 0 0;
}

.show-detail-findout .btn-findout-more {
	color: #fff;
	font-family: 'Khand-Light';
	font-size: 20px;
	line-height: 1;
	position: relative;
	top: 30px;
}

#quicktab-container .tab-item .tab-icon{
	background-size: contain;
}

#quicktab-container .tab-item.tab_ico_prog-highlight .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_prog-highlight.png');
}

#quicktab-container .tab-item.tab_ico_prog-highlight:hover .tab-icon, #quicktab-container .tab-item.tab_ico_prog-highlight.active .tab-icon {
	background-image: url('../PublishingImages/quicktab/tab_ico_prog-highlight_b.png');
}


#quicktab-container .tab-item.tab_ico_vod .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_vod.png');
}

#quicktab-container .tab-item.tab_ico_vod:hover .tab-icon, #quicktab-container .tab-item.tab_ico_vod.active .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_vod_b.png');
}


#quicktab-container .tab-item.tab_ico_contest .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_contest.png');
}

#quicktab-container .tab-item.tab_ico_contest:hover .tab-icon, #quicktab-container .tab-item.tab_ico_contest.active .tab-icon {
	background-image: url('../PublishingImages/quicktab/tab_ico_contest_b.png');
 }


#quicktab-container .tab-item.tab_ico_interactive-tv .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_interactive-tv.png');
}

#quicktab-container .tab-item.tab_ico_interactive-tv:hover .tab-icon, #quicktab-container .tab-item.tab_ico_interactive-tv.active .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_interactive-tv_b.png');
}


#quicktab-container .tab-item.tab_ico_tvguide .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_tvguide.png');
}

#quicktab-container .tab-item.tab_ico_tvguide:hover .tab-icon, #quicktab-container .tab-item.tab_ico_tvguide.active .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_tvguide_b.png');
}



#quicktab-container .tab-item.tab_ico_watchnow .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_watchnow.png');
}

#quicktab-container .tab-item.tab_ico_watchnow:hover .tab-icon, #quicktab-container .tab-item.tab_ico_watchnow.active .tab-icon{
	background-image: url('../PublishingImages/quicktab/tab_ico_watchnow_b.png');
}


.datepicker{
	color: black;
	margin: 0px;
}

.noscroll{
	overflow: hidden;
}

.relative{
	position: relative;
}

.l0{
	left: 0px;
}

.absolute{
	position: absolute;
}

.top0{
	top: 0px;
}

.remote-image{
	width: 190px;
	border-top: 1px solid white;
}