<div class="pad0 col-lg-12" data-truck-id="" data-truck-slug="" data-dojo-attach-point="truckIdNode">
	<div>
		<div class="compare-cell-preview-container" data-dojo-attach-point="previewContainerNode">
			<div class="close" data-dojo-attach-point="closeNode">X</div>
			<div class="edit" data-dojo-attach-point="editNode">Edit</div>
			<div class="compare-cell-info">
				<div class="model-name" data-dojo-attach-point="modelName"></div>
				<div class="model-spec" data-dojo-attach-point="majorSpecName"></div>
				<img data-dojo-attach-point="thumbNode" />
			</div>
		</div>
		<div class="compare-cell-select-container" data-dojo-attach-point="selectContaienrNode">
			<h4>Model</h4>
			<select data-dojo-attach-point="selectNode">
				<option value="">Please Select</option>
			</select>
			<h4>Variant</h4>
			<select data-dojo-attach-point="selectVNode" disabled="">
				<option value="">Please Select</option>
			</select>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-sunmmary-features">
			<div style="display:none;" class="compare-empty" data-dojo-attach-point="ph1Node">&nbsp;</div>
			<div style="display:none; text-align:right;" class="compare-plus compare-sec-01" data-toggle="open" data-class-collapse="sp-cont1" data-class-mani="compare-sec-01" data-dojo-attach-point="toggle1Node"><div class="compare-arrow-down"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont1">
		<div class="field-data">
			<div class="sf-transmission_type" data-dojo-attach-point="transmissionTypeNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sf-engine_model" data-dojo-attach-point="engineModelNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sf-engine_type" data-dojo-attach-point="engineTypeNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sf-max_output" data-dojo-attach-point="maxOutputNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sf-max_torque" data-dojo-attach-point="maxTorqueNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sf-tyres" data-dojo-attach-point="tyreNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sf-wheels" data-dojo-attach-point="wheelNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-engine">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph2Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-02" data-toggle="open" data-class-collapse="sp-cont2" data-class-mani="compare-sec-02"  data-dojo-attach-point="toggle2Node"><div class="compare-arrow-down"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont2">
		<div class="field-data">
			<div class="e-engine_model" data-dojo-attach-point="engineModel2Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="e-engine_type" data-dojo-attach-point="engineType2Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="e-displacement" data-dojo-attach-point="engineCCNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="e-bore" data-dojo-attach-point="engineBoreNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="e-compress_ratio" data-dojo-attach-point="engineRatioNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="e-max_output" data-dojo-attach-point="maxOutput2Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="e-max_torque" data-dojo-attach-point="maxTorque2Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="e-fuel_system" data-dojo-attach-point="engineFuelNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-transmission">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph3Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-03" data-toggle="open" data-class-collapse="sp-cont3" data-class-mani="compare-sec-03"  data-dojo-attach-point="toggle3Node"><div class="compare-arrow-down"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont3">
		<div class="field-data">
			<div class="trans-type" data-dojo-attach-point="transmissionType2Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="trans-gear_ratio1" data-dojo-attach-point="gear1Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="trans-gear_ratio2" data-dojo-attach-point="gear2Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="trans-gear_ratio3" data-dojo-attach-point="gear3Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="trans-gear_ratio4" data-dojo-attach-point="gear4Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="trans-gear_ratio5" data-dojo-attach-point="gear5Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="trans-reverse" data-dojo-attach-point="gearReverseNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="trans-final" data-dojo-attach-point="gearFinalNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-suspension_brake">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph4Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-04" data-toggle="open" data-class-collapse="sp-cont4" data-class-mani="compare-sec-04"  data-dojo-attach-point="toggle4Node"><div class="compare-arrow-down"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont4">
		<div class="field-data">
			<div class="sb-sus_front" data-dojo-attach-point="susFrontNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sb-sus_rear" data-dojo-attach-point="susRearNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sb-shock" data-dojo-attach-point="shockNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sb-brake_front" data-dojo-attach-point="brakeFrontNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="sb-brake_rear" data-dojo-attach-point="breakRearNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-steering">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph5Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-05" data-toggle="close" data-class-collapse="sp-cont5" data-class-mani="compare-sec-05"  data-dojo-attach-point="toggle5Node"><div class="compare-arrow-up"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont5">
		<div class="field-data">
			<div class="steering-system" data-dojo-attach-point="steeringSystemNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="steering-min_turning_radius" data-dojo-attach-point="minTurningNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-tyres_wheels">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph6Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-06" data-toggle="close" data-class-collapse="sp-cont6" data-class-mani="compare-sec-06" data-dojo-attach-point="toggle6Node"><div class="compare-arrow-up"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont6">
		<div class="field-data">
			<div class="tw-tyres" data-dojo-attach-point="tyre2Node">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="tw-wheels" data-dojo-attach-point="wheel2Node">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-weight_capacities">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph7Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-07" data-toggle="close" data-class-collapse="sp-cont7" data-class-mani="compare-sec-07" data-dojo-attach-point="toggle7Node"><div class="compare-arrow-up"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont7">
		<div class="field-data hidden">
			<div class="wc-weight" data-dojo-attach-point="weightNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="wc-seating" data-dojo-attach-point="seatingNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="wc-fuel" data-dojo-attach-point="fuelNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-exterior_features">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph8Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-08" data-toggle="close" data-class-collapse="sp-cont8" data-class-mani="compare-sec-08" data-dojo-attach-point="toggle8Node"><div class="compare-arrow-up"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont8">
		<div class="field-data">
			<div class="ef-headlamp" data-dojo-attach-point="headlampNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-front_fog_lamp" data-dojo-attach-point="frontFogLampNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-engine_hood_garnish" data-dojo-attach-point="engineHoodGarnishNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-front_grille" data-dojo-attach-point="frontGrilleNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-door_outer_mirror" data-dojo-attach-point="doorOuterMirrorNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-door_handle" data-dojo-attach-point="doorHandleNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-tail_handle" data-dojo-attach-point="tailHandleNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-front_bumper_guard" data-dojo-attach-point="frontBumperGuardNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-side_body_cladding" data-dojo-attach-point="sideBodyCladdingNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-side_step" data-dojo-attach-point="sideStepNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-roof_rail" data-dojo-attach-point="roofRailNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-cargo_cover" data-dojo-attach-point="cargoCoverNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-bed_liner" data-dojo-attach-point="bedLinerNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-rear_comb_lamp" data-dojo-attach-point="rearCombLampNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="ef-rear_bumper" data-dojo-attach-point="rearBumperNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-interior_features">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph9Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-09" data-toggle="close" data-class-collapse="sp-cont9" data-class-mani="compare-sec-09" data-dojo-attach-point="toggle9Node"><div class="compare-arrow-up"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont9">
		<div class="field-data">
			<div class="if-meter_panel" data-dojo-attach-point="meterPanelNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-steering_material" data-dojo-attach-point="steeringMaterialNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-dash_door_trim" data-dojo-attach-point="dashDoorTrimNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-climate_control" data-dojo-attach-point="climateControlNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-audio_system" data-dojo-attach-point="audioSystemNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-assist_grip" data-dojo-attach-point="assistGripNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-power_door_lock" data-dojo-attach-point="powerDoorLockNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-seats_material" data-dojo-attach-point="seatMaterialNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-door_window" data-dojo-attach-point="doorWindowNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-middle_console_box" data-dojo-attach-point="middleConsoleBoxNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-map_lamp" data-dojo-attach-point="mapLampNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-cabin_lamp" data-dojo-attach-point="cabinLampNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-ash_tray" data-dojo-attach-point="ashTrayNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-power_outlet" data-dojo-attach-point="powerOutletNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-rocker_plate" data-dojo-attach-point="rockerPlateNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-cigarette_lighter" data-dojo-attach-point="cigLighterNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="if-carpet_mat" data-dojo-attach-point="carpetMatNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-safety">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph10Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-10" data-toggle="close" data-class-collapse="sp-cont10" data-class-mani="compare-sec-10" data-dojo-attach-point="toggle10Node"><div class="compare-arrow-up"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont10">
		<div class="field-data">
			<div class="safety-srs" data-dojo-attach-point="srsNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-abs_ebd" data-dojo-attach-point="absNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-brake_assist" data-dojo-attach-point="baNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-esc" data-dojo-attach-point="escNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-tcs" data-dojo-attach-point="tcsNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-lspv" data-dojo-attach-point="lspvNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-lsd" data-dojo-attach-point="lsdNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-body_construction" data-dojo-attach-point="bodyConstNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-side_door_impact_beams" data-dojo-attach-point="sideDoorImpactNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-collapsibile_steering" data-dojo-attach-point="collapsibleSteeringNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-windscreen" data-dojo-attach-point="windscreeNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-wiper" data-dojo-attach-point="wiperNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-seat_belt" data-dojo-attach-point="seatBeltsNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-child_seat_anchorage" data-dojo-attach-point="childSeatAnchorageNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-security" data-dojo-attach-point="securityNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-child_safety_lock" data-dojo-attach-point="childSafetyNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-high_mount_stop_lamp" data-dojo-attach-point="highMountStopLampNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="safety-reverse_sensor" data-dojo-attach-point="reverseSensorNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header">
		<div class="t-price">
			<div style="display:none" class="compare-empty" data-dojo-attach-point="ph11Node">&nbsp;</div>
			<div style="display:none; text-align:right" class="compare-plus compare-sec-11" data-toggle="close" data-class-collapse="sp-cont11" data-class-mani="compare-sec-11" data-dojo-attach-point="toggle11Node"><div class="compare-arrow-up"></div></div>
		</div>
	</div>
	<div class="pad0 mar0 sp-cont11">
		<div class="field-data">
			<div class="price-p_peninsular" data-dojo-attach-point="pricePenPrivateNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="price-p_sabah" data-dojo-attach-point="priceSabahPrivateNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="price-p_sarawak" data-dojo-attach-point="priceSarPrivateNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="price-cp_peninsular" data-dojo-attach-point="pricePenComPrivateNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="price-cp_sabah" data-dojo-attach-point="priceSabahComPrivateNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="price-cp_sarawak" data-dojo-attach-point="priceSarComPrivateNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="price-cc_peninsular" data-dojo-attach-point="pricePenComCommNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="price-cc_sabah" data-dojo-attach-point="priceSabahComCommNode">&nbsp;</div>
		</div>
		<div class="field-data">
			<div class="price-cc_sarawak" data-dojo-attach-point="priceSarComCommNode">&nbsp;</div>
		</div>
	</div>
	<div class="field-data blank-header cta-cell" style="display:block !important;">
		<div data-dojo-attach-point="ctaCellNode" style="display:none">
			<div class="model-name" data-dojo-attach-point="ctaModelName"></div>
			<div class="model-spec" data-dojo-attach-point="ctaMajorSpecName"></div>
			<div class="btn-primary" data-dojo-attach-point="bookTestDriveNode">BOOK A TEST DRIVE</div>
			<div class="btn-primary" data-dojo-attach-point="viewVehicleNode">VIEW VEHICLE DETAILS</div>
		</div>
	</div>
</div>