<div class="col-xs-12 col-sm-6 col-md-4 dealer-cell">
	<div class="dealer-cell-inner" data-dojo-attach-point="innerNode">
		<div class="dealer-name" data-dojo-attach-point="nameNode"></div>
		<div class="dealer-details">
			<div data-dojo-attach-point="addressNode"></div>
			<div data-dojo-attach-point="telNodeLabel">Tel: <span data-dojo-attach-point="telNode"></span></div>
			<div data-dojo-attach-point="faxNodeLabel">Fax: <span data-dojo-attach-point="faxNode"></span></div>
			<div data-dojo-attach-point="emailNodeLabel">Email: <a href="#" data-dojo-attach-point="emailNode"></a></div>
			<div data-dojo-attach-point="webNodeLabel">Website: <a href="#" data-dojo-attach-point="webNode" target="_blank"></a></div>
		</div>
		<div class="dealer-operating-hour" data-dojo-attach-point="openingNodeLabel">Operating hours: <span data-dojo-attach-point="openingNode"></span></div>
		<ul class="dealer-category">
			<li class="sr" data-dojo-attach-point="isShowRoomNode" style="display:none"><i></i>D-Max Showroom</li>
			<li class="sv" data-dojo-attach-point="isServiceNode" style="display:none"><i></i>D-Max Service</li>
			<li class="sp" data-dojo-attach-point="isSparepartNode" style="display:none"><i></i>D-Max Spare Parts</li>
		</ul>
		<div class="cta-buttons-wrapper">
			<div class="btn-primary" style="display:none" data-dojo-attach-point="booktestDriveNode">BOOK A TEST DRIVE</div>
			<div class="btn-primary" data-dojo-attach-point="viewMapNode">VIEW MAP</div>
		</div>
	</div>
</div>