<div class="news-additional-wrapper">
	<div class="container">
		<div class="row">
			<a href="" data-dojo-attach-point="linkNode">
				<div class="hidden-xs news-thumbnail">
					<img src="" data-dojo-attach-point="imageNode" />
				</div>
				<div class="news-detail">
					<div class="news-date" data-dojo-attach-point="publishedNode"></div>
					<div class="news-title" data-dojo-attach-point="titleNode"></div>
					<div class="hidden-xs news-summary" data-dojo-attach-point="summaryNode"></div>
				</div>
				<div class="clearfix"></div>
			</a>
		</div>
	</div>
</div>