<div class="item">
	<div class="nopadding">
		<div class="field-data truck-model">
			<div class="truck-name" data-dojo-attach-point="nameNode"></div>
		</div>
		<div class="field-data blank-header">
			<div class="header-selling_price" data-dojo-attach-point="priceNode">
				<h5>(RM)</h5>
				<div data-dojo-attach-point="priceNode"></div>
			</div>
		</div>
		<div class="field-data">
			<div class="ps-handling_fee" data-dojo-attach-point="handlingNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-number_plate" data-dojo-attach-point="plateNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-signwriting" data-dojo-attach-point="signNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-inspection_fee" data-dojo-attach-point="inspectionNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-netsellingbeforegst" data-dojo-attach-point="netSellingPreGSTNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-netsellingbeforegst" data-dojo-attach-point="gstNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-netsellingbeforegst" data-dojo-attach-point="netSellingPostGSTNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-roadtax" data-dojo-attach-point="roadTaxNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-registration_fee" data-dojo-attach-point="registrationNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-ownership_claim" data-dojo-attach-point="ownershipNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-otwwoin" data-dojo-attach-point="otdWOI"></div>
		</div>
		<div class="field-data">
			<div class="header-comprehensive_insurance" data-dojo-attach-point="insuranceNode"></div>
		</div>
		<div class="field-data">
			<div class="ps-otwwin" data-dojo-attach-point="otdWI"></div>
		</div>
		<div class="field-data">
			<div class="header-insured_amount" data-dojo-attach-point="insuredAmountNode"></div>
		</div>
	</div>
</div>