<div class="item">
	<div class="nopadding">
		<div class="field-data truck-model">
			<div class="truck-name" data-dojo-attach-point="nameNode"></div>
		</div>
		<div data-dojo-attach-point="summaryContainerNode">
			<div class="field-data blank-header">
				<div class="header-features">&nbsp;</div>
			</div>
			<div class="field-data">
				<div class="ts-trans" data-dojo-attach-point="transmissionTypeNode"></div>
			</div>
			<div class="field-data">
				<div class="ts-engine_model" data-dojo-attach-point="engineModelNode"></div>
			</div>
			<div class="field-data">
				<div class="ts-engine_type" data-dojo-attach-point="engineTypeNode"></div>
			</div>
			<div class="field-data">
				<div class="ts-max_output" data-dojo-attach-point="maxOutputNode"></div>
			</div>
			<div class="field-data">
				<div class="ts-max_torque" data-dojo-attach-point="maxTorqueNode"></div>
			</div>
			<div class="field-data">
				<div class="ts-tyre" data-dojo-attach-point="tyreNode"></div>
			</div>
			<div class="field-data">
				<div class="ts-wheels" data-dojo-attach-point="wheelNode"></div>
			</div>
		</div>
		
		<div data-dojo-attach-point="expandContainerNode" style="display:none">
			<div class="field-data blank-header">
				<div class="header-engine">&nbsp;</div>
			</div>
			<div class="field-data">
				<div class="sp-engine_model" data-dojo-attach-point="engineModel2Node">Model</div>
			</div>
			<div class="field-data">	
				<div class="sp-engine_type" data-dojo-attach-point="engineType2Node">Type</div>
			</div>
			<div class="field-data">
				<div class="sp-displacement" data-dojo-attach-point="engineCCNode">&nbsp;</div>
			</div>
			<div class="field-data">
				<div class="sp-bore" data-dojo-attach-point="engineBoreNode">Bore x Stroke (mm)</div>
			</div>
			<div class="field-data">
				<div class="sp-compress_ratio" data-dojo-attach-point="engineRatioNode">Compression Ratio</div>
			</div>
			<div class="field-data">
				<div class="sp-max_output" data-dojo-attach-point="maxOutput2Node">Maximum Output</div>
			</div>
			<div class="field-data">
				<div class="sp-max_torque" data-dojo-attach-point="maxTorque2Node">Maximum Torque</div>
			</div>
			<div class="field-data">
				<div class="sp-fuel_system" data-dojo-attach-point="engineFuelNode">Fuel System</div>
			</div>
			
			<div class="field-data blank-header">
				<div class="header-transmission"></div>
			</div>
			<div class="field-data">
				<div class="sp-trans_type" data-dojo-attach-point="transmissionType2Node">Type</div>
			</div>
			<div class="field-data">
				<div class="row">
					<div class="col-xs-12 sp-trans_gear_1">
						<div data-dojo-attach-point="gear1Node">1st</div>
					</div>
				</div>
			</div>
			<div class="field-data">
				<div class="row">
					<div class="col-xs-12 sp-trans_gear_2">
						<div data-dojo-attach-point="gear2Node">2nd</div>
					</div>
				</div>
			</div>
			<div class="field-data">
				<div class="row">
					<div class="col-xs-12 sp-trans_gear_3">
						<div data-dojo-attach-point="gear3Node">3rd</div>
					</div>
				</div>
			</div>
			<div class="field-data">
				<div class="row">
					<div class="col-xs-12 sp-trans_gear_4">
						<div data-dojo-attach-point="gear4Node">4th</div>
					</div>
				</div>
			</div>
			<div class="field-data">
				<div class="row">
					<div class="col-xs-12 sp-trans_gear_5">
						<div data-dojo-attach-point="gear5Node">5th</div>
					</div>
				</div>
			</div>
			<div class="field-data">
				<div class="row">
					<div class="col-xs-12 sp-trans_gear_reverse">
						<div data-dojo-attach-point="gearReverseNode">Reverse</div>
					</div>
				</div>
			</div>
			<div class="field-data">
				<div class="row">
					<div class="col-xs-12 sp-trans_gear_final">
						<div data-dojo-attach-point="gearFinalNode">Final</div>
					</div>
				</div>
			</div>
			
			<div class="field-data blank-header">
				<div class="header-suspension_brake"></div>
			</div>
			<div class="field-data">
				<div class="sp-sus_front" data-dojo-attach-point="susFrontNode">Suspension (Front)</div>
			</div>
			<div class="field-data">
				<div class="sp-sus_rear" data-dojo-attach-point="susRearNode">Suspension (Rear)</div>
			</div>
			<div class="field-data">
				<div class="sp-shock" data-dojo-attach-point="shockNode">Shock Absorber</div>
			</div>
			<div class="field-data">
				<div class="sp-brake_front" data-dojo-attach-point="brakeFrontNode">Brake (Front)</div>
			</div>
			<div class="field-data">
				<div class="sp-brake_rear" data-dojo-attach-point="breakRearNode">Brake (Rear)</div>
			</div>
			
			<div class="field-data blank-header">
				<div class="header-steering"></div>
			</div>
			<div class="field-data">
				<div class="sp-steering_system" data-dojo-attach-point="steeringSystemNode">System</div>
			</div>
			<div class="field-data">
				<div class="sp-min_turning_radius" data-dojo-attach-point="minTurningNode">Min. Turning Radius (m)</div>
			</div>
			
			<div class="field-data blank-header">
				<div class="header-tyres_wheels"></div>
			</div>
			<div class="field-data">
				<div class="sp-tyres" data-dojo-attach-point="tyre2Node">Tyres</div>
			</div>
			<div class="field-data">
				<div class="sp-wheels" data-dojo-attach-point="wheel2Node">Wheels</div>
			</div>
			
			<div class="field-data blank-header">
				<div class="header-weight_capacities"></div>
			</div>
			<div class="field-data hidden">
				<div class="sp-weight" data-dojo-attach-point="weightNode">Gross Vehicle Weight (kg)</div>
			</div>
			<div class="field-data">
				<div class="sp-seating" data-dojo-attach-point="seatingNode">Seating Capacity (person)</div>
			</div>
			<div class="field-data">
				<div class="sp-fuel" data-dojo-attach-point="fuelNode">Fuel Tank Capacity (l)</div>
			</div>
			
			<div class="field-data blank-header">
				<div class="header-exterior_features"></div>
			</div>
			<div class="field-data">
				<div class="sp-headlamp" data-dojo-attach-point="headlampNode">Headlamps</div>
			</div>
			<div class="field-data">
				<div class="sp-front_fog_lamp" data-dojo-attach-point="frontFogLampNode">Front Fog Lamps</div>
			</div>
			<div class="field-data">
				<div class="sp-engine_hood_garnish" data-dojo-attach-point="engineHoodGarnishNode">Engine Hood Garnish</div>
			</div>
			<div class="field-data">
				<div class="sp-front_grille" data-dojo-attach-point="frontGrilleNode">Front Grille</div>
			</div>
			<div class="field-data">
				<div class="sp-door_outer_mirror" data-dojo-attach-point="doorOuterMirrorNode">Door Outer Mirror</div>
			</div>
			<div class="field-data">
				<div class="sp-door_tail_handle" data-dojo-attach-point="doorHandleNode">Door Handles</div>
			</div>
			<div class="field-data">
				<div class="sp-door_tail_handle" data-dojo-attach-point="tailHandleNode">Tailgate Handles</div>
			</div>
			<div class="field-data">
				<div class="sp-front_bumper_guard" data-dojo-attach-point="frontBumperGuardNode">Front Bumper Guard</div>
			</div>
			<div class="field-data">
				<div class="sp-side_body_cladding" data-dojo-attach-point="sideBodyCladdingNode">Side Body Cladding</div>
			</div>
			<div class="field-data">
				<div class="sp-side_step" data-dojo-attach-point="sideStepNode">Side Step</div>
			</div>
			<div class="field-data">
				<div class="sp-roof_rail" data-dojo-attach-point="roofRailNode">Roof Rail</div>
			</div>
			<div class="field-data">
				<div class="sp-cargo_cover" data-dojo-attach-point="cargoCoverNode">Cargo Cover</div>
			</div>
			<div class="field-data">
				<div class="sp-bed_liner" data-dojo-attach-point="bedLinerNode">Bed Liner</div>
			</div>
			<div class="field-data">
				<div class="sp-rear_comb_lamp" data-dojo-attach-point="rearCombLampNode">Rear Combination Lamps</div>
			</div>
			<div class="field-data">
				<div class="sp-rear_bumper" data-dojo-attach-point="rearBumperNode">Rear Bumper</div>
			</div>
			<div class="field-data">
				<div class="sp-rear_spoiler" data-dojo-attach-point="rearSpoilerNode">Rear Spoiler</div>
			</div>
			<div class="field-data">
				<div class="sp-tailgate_garnish" data-dojo-attach-point="tailgateGarnishNode">Tailgate Garnish</div>
			</div>
			<div class="field-data">
				<div class="sp-muffler_cutter" data-dojo-attach-point="mufflerCutterNode">Muffler Cutter</div>
			</div>
			
			<div class="field-data blank-header">
				<div class="header-interior_features"></div>
			</div>
			<div class="field-data">
				<div class="sp-meter_panel" data-dojo-attach-point="meterPanelNode">Meter Panel</div>
			</div>
			<div class="field-data">
				<div class="sp-steering_material" data-dojo-attach-point="steeringMaterialNode">Steering Material</div>
			</div>
			<div class="field-data">
				<div class="sp-dash_door_trim" data-dojo-attach-point="dashDoorTrimNode">Dash Door Trim</div>
			</div>
			<div class="field-data">
				<div class="sp-climate_control" data-dojo-attach-point="climateControlNode">Climate Control</div>
			</div>
			<div class="field-data">
				<div class="sp-climate_control_rear" data-dojo-attach-point="climateControlRearNode">Climate Control (Rear)</div>
			</div>
			<div class="field-data">
				<div class="sp-audio_system" data-dojo-attach-point="audioSystemNode">Audio System</div>
			</div>
			
			<div class="field-data">
				<div class="sp-rear_dvd" data-dojo-attach-point="rearDVDNode">Rear DVD System</div>
			</div>
			
			<div class="field-data">
				<div class="sp-command4wd" data-dojo-attach-point="command4wdNode">Terrain Command 4WD System</div>
			</div>
			
			<div class="field-data">
				<div class="sp-assist_grip" data-dojo-attach-point="assistGripNode">Assist Grip</div>
			</div>
			<div class="field-data">
				<div class="sp-power_door_lock" data-dojo-attach-point="powerDoorLockNode">Power Door Lock</div>
			</div>
			<div class="field-data">
				<div class="sp-seats_material" data-dojo-attach-point="seatMaterialNode">Seats Material</div>
			</div>
			
			<div class="field-data">
				<div class="sp-front_seats" data-dojo-attach-point="seatFrontNode">Front Seats</div>
			</div>
			
			<div class="field-data">
				<div class="sp-2row_seats" data-dojo-attach-point="seat2RowNode">2nd Row Seats</div>
			</div>
			
			<div class="field-data">
				<div class="sp-3row_seats" data-dojo-attach-point="seat3RowNode">3rd Row Seats</div>
			</div>
			
			<div class="field-data">
				<div class="sp-door_window" data-dojo-attach-point="doorWindowNode">Door Window</div>
			</div>
			<div class="field-data">
				<div class="sp-middle_console_box" data-dojo-attach-point="middleConsoleBoxNode">Middle Console Box</div>
			</div>
			<div class="field-data">
				<div class="sp-map_lamp" data-dojo-attach-point="mapLampNode">Map Lamp</div>
			</div>
			<div class="field-data">
				<div class="sp-cabin_lamp" data-dojo-attach-point="cabinLampNode">Cabin Lamp</div>
			</div>
			<div class="field-data">
				<div class="sp-ash_tray" data-dojo-attach-point="ashTrayNode">Ash Tray</div>
			</div>
			<div class="field-data">
				<div class="sp-power_outlet" data-dojo-attach-point="powerOutletNode">Power Outlet</div>
			</div>
			<div class="field-data">
				<div class="sp-rocker_plate" data-dojo-attach-point="rockerPlateNode">Rocker Plate</div>
			</div>
			<div class="field-data">
				<div class="sp-cigarette_lighter" data-dojo-attach-point="cigLighterNode">Cigarette Lighter</div>
			</div>
			
			<div class="field-data">
				<div class="sp-cargo_organizer" data-dojo-attach-point="cargoOrganizerNode">Cargo Organizer</div>
			</div>
			
			<div class="field-data">
				<div class="sp-tonne_cover" data-dojo-attach-point="tonneCoverNode">Tonneau Cover</div>
			</div>
			
			<div class="field-data">
				<div class="sp-carpet_mat" data-dojo-attach-point="carpetMatNode">Carpet Mat</div>
			</div>
			
			<div class="field-data blank-header">
				<div class="header-safety"></div>
			</div>
			<div class="field-data">
				<div class="sp-srs" data-dojo-attach-point="srsNode">SRS Airbags</div>
			</div>
			<div class="field-data">
				<div class="sp-abs_ebd" data-dojo-attach-point="absNode">ABS with EBD</div>
			</div>
			<div class="field-data">
				<div class="sp-brake_assist" data-dojo-attach-point="baNode">Brake Assist (BA)</div>
			</div>
			<div class="field-data">
				<div class="sp-esc" data-dojo-attach-point="escNode">Electronic Stability Control</div>
			</div>
			<div class="field-data">
				<div class="sp-tcs" data-dojo-attach-point="tcsNode">Traction Control System</div>
			</div>
			<div class="field-data">
				<div class="sp-lspv" data-dojo-attach-point="lspvNode">Load Sending Proportional Vale (LSPV)</div>
			</div>
			<div class="field-data">
				<div class="sp-lsd" data-dojo-attach-point="lsdNode">Limited Slip Differential (LSD)</div>
			</div>
			<div class="field-data">
				<div class="sp-body_construction" data-dojo-attach-point="bodyConstNode">Body Construction</div>
			</div>
			<div class="field-data">
				<div class="sp-side_door_impact_beams" data-dojo-attach-point="sideDoorImpactNode">Side Door Impact Beams</div>
			</div>
			<div class="field-data">
				<div class="sp-collapsibile_steering" data-dojo-attach-point="collapsibleSteeringNode">Collapsible Steering Column</div>
			</div>
			<div class="field-data">
				<div class="sp-windscreen" data-dojo-attach-point="windscreeNode">Windscreen</div>
			</div>
			<div class="field-data">
				<div class="sp-wiper" data-dojo-attach-point="wiperNode">Wiper</div>
			</div>
			
			<div class="field-data">
				<div class="sp-wiper_rear" data-dojo-attach-point="wiperRearNode">Wiper</div>
			</div>
			
			<div class="field-data">
				<div class="sp-seat_belt" data-dojo-attach-point="seatBeltsNode">Seat Belts</div>
			</div>
			<div class="field-data">
				<div class="sp-child_seat_anchorage" data-dojo-attach-point="childSeatAnchorageNode">Child Seat Anchorage</div>
			</div>
			<div class="field-data">
				<div class="sp-security" data-dojo-attach-point="securityNode">Vehicle Security System</div>
			</div>
			<div class="field-data">
				<div class="sp-child_safety_lock" data-dojo-attach-point="childSafetyNode">Child Protector Safefy Lock</div>
			</div>
			<div class="field-data">
				<div class="sp-high_mount_stop_lamp" data-dojo-attach-point="highMountStopLampNode">High Mount Stop Lamp</div>
			</div>
			<div class="field-data">
				<div class="sp-reverse_sensor" data-dojo-attach-point="reverseSensorNode">Reverse Sensor</div>
			</div>
		</div>
	</div>
</div>