<div owled="" class="double-nav">
	<div class="owl-carousel owl-theme"  data-dojo-attach-point="owlCarouselNode"></div>
	<div class="custom-owl-buttons" style="display:none" data-dojo-attach-point="customControlNode">
		<div class="custom-owl-prev" data-dojo-attach-point="prevNode"><i class="fa fa-angle-left"></i></div>
		<div class="custom-owl-next" data-dojo-attach-point="nextNode"><i class="fa fa-angle-right"></i></div>
	</div>
	<a href="" style="display:none" data-dojo-attach-point="findoutMoreNode">Find out more</a>
</div>