<div>
	<div class="container-fluid truck-carousel-wrapper" data-dojo-attach-point="backgroundImageNode">
		<div class="row">
			<div class="container truck-carousel-content">
				<div class="row">
					<img class="truck-carousel-variant" src="" data-dojo-attach-point="truckVariantNode" />
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-7 pull-right truck-model">
						<div class="truck-model-wrapper">
							<div id="special-carousel" owled="" class="owl-carousel owl-theme truck-carousel-container" data-dojo-attach-point="listContainerNode"></div>
						</div>
						<div class="truck-carousel-color clearfix" data-dojo-attach-point="colorIncludeSelectContainerNode">
							<span>Select Colours</span>
							<ul class="truck-carousel-color-container clearfix" data-dojo-attach-point="colorContainerNode"></ul>
						</div>
					</div>
					<div class="col-xs-12 col-md-5 truck-content-copy">
						<div class="truck-carousel-copy-container">
							<div class="title" data-dojo-attach-point="titleNode"></div>
							<div class="description-box-wrapper">
								<div class="description" data-dojo-attach-point="copyNode"></div>
								<div class="btn-rect-arrowright">
									<a href="/home/tools#testdrive">
										BOOK A TEST DRIVE NOW
									</a>
								</div>
								<div class="btn-rect-arrowright visible-xs visible-sm">
									<a data-dojo-attach-point="downloadLinkNode" href="#">
										DOWNLOAD BROCHURE
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>