<div class="row" data-second="">
	<div class="col-lg-3 pad0" data-dojo-attach-point="titleContainerNode">
		<div class="gallery-title" data-dojo-attach-point="titleNode"></div>
	</div>
	<div class="col-lg-9 pad0">
		<div class="owl-carousel owl-theme" owled="" data-dojo-attach-point="listContainerNode"></div>
	</div>
	<div class="col-lg-3" data-dojo-attach-point="arrowNode" style="display:none">
		<div class="col-lg-6 gallery-arrow-container">
			<div class="col-lg-6" data-dojo-attach-point="prevNode">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</div>
			<div class="col-lg-6" data-dojo-attach-point="nextNode">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</div>
		</div>
	</div>
</div>