<div class="item" data-template="homenews" style="display: block; height: auto;">
	<img src="" alt="" style="display:block" data-dojo-attach-point="imageSquareNode">
	<img src="" alt="" style="display:none" data-dojo-attach-point="imageRectNode">
	
	<h4 data-dojo-attach-point="titleNode"></h4>
	<p data-dojo-attach-point="copyNode"></p>
</div>