<div class="item" data-template="" style="display: block;width: 100%; height: auto;">
	<div data-dojo-attach-point="imageCopyNode">
		<img src="" alt="" style="display:none" data-dojo-attach-point="imageSquareNode">
		<img src="" alt="" style="display:block" data-dojo-attach-point="imageRectNode">
		
		<div class="title" data-dojo-attach-point="titleNode"></div>
		<div class="description" data-dojo-attach-point="copyNode"></div>
	</div>
	<div data-dojo-attach-point="freeformNode"></div>
</div>