<div class="item" data-template="home" style="display: block;width: 100%; height: auto;">
	<div>
		<img class="col-xs-12 visible-lg hidden-md pad0" src="" alt="" data-dojo-attach-point="imageLGNode">
		<img class="col-xs-12 visible-md hidden-sm pad0" src="" alt="" data-dojo-attach-point="imageMDNode">
		<img class="col-xs-12 visible-sm hidden-xs pad0" src="" alt="" data-dojo-attach-point="imageSMNode">
		<img class="col-xs-12 visible-xs pad0" src="" alt="" data-dojo-attach-point="imageXSNode">
	</div>
	<div class="banner-wrapper">
		<div class="container banner-contents">
			<div class="row">
				<div class="col-xs-12 col-md-5 col-lg-6 title" data-dojo-attach-point="titleNode"></div>
				<div class="col-xs-12 col-md-4 col-lg-4 description-wrapper">
					<div class="description" data-dojo-attach-point="desNode"></div>
				</div>
				<div class="col-xs-12 col-md-3 col-lg-2 btn btn-slidercta" data-dojo-attach-point="ctaNode">FIND OUT MORE</div>
			</div>
		</div>
	</div>
</div>