<div class="item" data-template="truck-super" style="display: block; height: auto;">
	<div>
		<img class="visible-lg hidden-md pad0" src="" alt="" data-dojo-attach-point="imageLGNode">
		<img class="visible-md hidden-sm pad0" src="" alt="" data-dojo-attach-point="imageMDNode">
		<img class="visible-sm hidden-xs pad0" src="" alt="" data-dojo-attach-point="imageSMNode">
		<img class="visible-xs pad0" src="" alt="" data-dojo-attach-point="imageXSNode">
	</div>
</div>