<div class="item" data-template="superimage" style="display: block;width: 100%; height: auto;">
	<div>
		<img class="lazyOwl visible-lg hidden-md" alt="" data-dojo-attach-point="imageLGNode">
		<img class="lazyOwl visible-md hidden-sm"alt="" data-dojo-attach-point="imageMDNode">
		<img class="lazyOwl visible-sm hidden-xs" alt="" data-dojo-attach-point="imageSMNode">
		<img class="lazyOwl visible-xs" alt="" data-dojo-attach-point="imageXSNode">
	</div>
</div>