<div class="item gallery-modal" data-template="gallery-modal" style="display: block;width: 100%; height: auto;">
	<div data-dojo-attach-point="imageNode" style="height: 500px; background-size: contain !important;  background-position: center center !important; background-repeat: no-repeat !important;"></div>
</div>