<div class="item gallery-thumb" data-template="gallery" style="display: block;width: 100%; height: auto;">
	<img data-dojo-attach-point="imageNode" />
	<div class="w100" style="height:150px;" data-dojo-attach-point="backgroundImageNode"></div>
	<h6 data-dojo-attach-point="publishedDateNode"></h6>
	<h4 data-dojo-attach-point="titleNode"></h4>
	<div class="hidden-xs" data-dojo-attach-point="desNode"></div>
	<a href="" data-dojo-attach-point="findoutMoreNode">Find out more</a>
</div>