<div class="item" data-template="promotion" style="display: block;width: 100%; height: auto;">
	<div class="promo-carousel clearfix">
		<img class="col-xs-12 visible-lg hidden-md pad0" src="" alt="" data-dojo-attach-point="imageLGNode">
		<img class="col-xs-12 visible-md hidden-sm pad0" src="" alt="" data-dojo-attach-point="imageMDNode">
		<img class="col-xs-12 visible-sm hidden-xs pad0" src="" alt="" data-dojo-attach-point="imageSMNode">
		<img class="col-xs-12 visible-xs pad0" src="" alt="" data-dojo-attach-point="imageXSNode">
	</div>
	<div class="promo-caption" data-dojo-attach-point="desNode"></div>
</div>