<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 feature-thumbwtext">
	<img src="" alt="" data-dojo-attach-point="imageNode">
	<h5 class="title" data-dojo-attach-point="titleNode"></h5>
	<div class="date" data-dojo-attach-point="dateNode"></div>
	<div class="description" data-dojo-attach-point="desNode"></div>
</div>