<div class="col-xs-6 col-sm-4 col-md-3 features-squarethumbgallery">
	<div class="squarethumbgallery-hover"><i class="crosshairs"></i></div>
	<img src="" alt="" data-dojo-attach-point="imageSquareNode">
</div>