<div class="item" data-template="" style="display: block;width: 100%; height: 200px; overflow:hidden">
	<img class="lazyOwl" style="width:100%; height:100%" data-dojo-attach-point="imageNode" />
	<div style="height: 100%;background-size: cover;" data-dojo-attach-point="realImageNode"></div>
	<div class="gallery-plus" data-dojo-attach-point="plusNode">+</div>
</div>